[2019-07-04 07:06] #457 closed

[2019-07-04 07:06] despiegk commented on #241
still issue?

[2019-07-04 07:08] despiegk commented on #653
do on #682

[2019-07-04 07:08] despiegk commented on #642
think fixed

[2019-07-04 07:08] #642 closed

[2019-07-04 07:09] despiegk commented on #639
wont do not important now

[2019-07-04 07:09] #639 closed

[2019-07-04 07:09] despiegk commented on #635
do on #682

[2019-07-04 07:22] #616 closed

[2019-07-04 07:25] despiegk commented on #488
can be done differently, just get the text, then its easy to go from text to markdown.
its about content being on gdoc as markdown not as gdoc content

[2019-07-04 07:39] zaibon commented on #588
That's very much not true. This file contains public key of server the user trusts. Deleting it means the user is now completely blind and has no way to know if the server he usually access has not been compromised. This is is big security hold you are just creating on everyone computer.

Also, there nothing that requires to do that in the first place, so why do it at all ?

[2019-07-04 14:15] abom opened #683 "Lua builder: luarocks installed packages cannot be loaded"
Installing packages using `luarocks install <name>` or even using `j.builders.lua.lua_rock_install("<name>")` doesn't work properly.

Example

[code]

The package is installed into `/tmp/builders/lua...`, this needs to be changed.

Trying to access the installed binary or library, but it doesn't work, because the binary and library are installed to a directory that is not set in `LUA_PATH`/`LUA_CP

[2019-07-07 08:08] Dina-Abd-Elrahman opened #684 "error in library versions after using install some builders"
- after installing some builders we got errors in some library version , so for example we cannot open `kosmos shell` or using curl command we have to re-download new library with the correct version to solve this issue.

##### detailed description :

- when we build `synching` or `python` builder we got this error with curl,

![error](https://user-images.githubusercontent.com/21218053/60765679-63

[2019-07-07 08:40] abom commented on #684
This problem nearly happens with any builder to a project that uses python, need to find a solution (in odoo builder for example, we use another user).

[2019-07-07 09:14] ranatrk commented on #51
The zero_hub_direct repo is no longer used, instead the hub uses the hub gateway (https://github.com/threefoldtech/0-hub-gw ). The old client couldn't be updated as it uses http when the 0-hub-gw uses redis protocol and so a new client was created but locally as it was not fully functioning.
@despiegk I used js redis client to connect and execute commands on the server.

The issue with it is that

[2019-07-07 10:43] despiegk opened #685 "gunjs integration in JSX [development_webdb]"
branch: development_webdb

make example how to work with gunjs in JSX towards BCDB
use j.servers.gundb and make test gevent server there

[2019-07-07 11:13] despiegk opened #686 "graphql integration in JSX"
see example in j.servers.gundb

create a gevent server which implements an example bridge between graphql & bcdb
serve an example html page with graphql client from bottle gevent server

so the full end2end can be demonstrated

[2019-07-07 14:18] serboctor commented on #679
Fixed https://github.com/threefoldtech/digitalmeX/commit/c76aaddc6abf59e364611b7092fb807444beeb2a

[2019-07-07 15:34] hossnys commented on #679
Verified on branch development
note :
you need to create you 3bot with months value greater than 1 month as the duration for any next reservations is 1 month which is calculated after 3bot creation and if you create 3bot with one month and tried to reserve you will get this error :
[code]

[2019-07-07 15:36] serboctor commented on #679
@hossnys if you create them both on the same day it shouldn't be a problem, the check disregards hours and minutes.

[2019-07-07 16:08] hossnys commented on #679
I just created both 3bot and reserve vm in the same hour and i got the error of  Capacity expiration time exceeds threebot's expiration !!

[2019-07-07 16:10] Pishoy opened #687 "openpublish starting fails"
try to install and start openpunlish and it fails as below steps :
[code]
-  jsx version
[code]
- digitalmex
[code]

[2019-07-07 16:17] serboctor commented on #679
This shouldnt be the case :/ I already tested this scenario before. Let me test it again.

[2019-07-07 17:01] abom commented on #687
Where is the failure itself?

[2019-07-08 06:27] despiegk opened #688 "autocompletion does not work for certain cases"
![image](https://user-images.githubusercontent.com/6021844/60787460-24eab180-a15a-11e9-9bad-3dfd028ac1c5.png)

[2019-07-08 06:49] despiegk commented on #661
start is working
![image](https://user-images.githubusercontent.com/6021844/60788551-48fbc200-a15d-11e9-8301-6ceb36dc3f89.png)
imrpved

[2019-07-08 07:08] #661 closed

[2019-07-08 07:08] AhmedHanafy725 commented on #606
yes, it's needed to automate the installation.

[2019-07-08 07:26] Hamdy commented on #686
finished adding server : https://github.com/threefoldtech/digitalmeX/tree/development_webdb/DigitalMe/servers/graphql

working on client now and adding bcdb examples
ETA : 2 hours

[2019-07-08 08:14] Pishoy commented on #687
![image](https://user-images.githubusercontent.com/21987477/60794013-1f489800-a169-11e9-93d1-c514ff3a7ba4.png)

[2019-07-08 08:53] abom commented on #688
Which branch?

On development, docstrings are not working (will fix that), but auto completions works fine.

![Screenshot from 2019-07-08 10-53-08](https://user-images.githubusercontent.com/511438/60796904-9a607d00-a16e-11e9-9892-e39c321b8655.png)

[2019-07-08 13:39] waleedhammam commented on #666
@siddiquagig
I tested it on a fresh container, it builds, installs, starts, stops and sandbox well.
Branch: **development_builders**

[2019-07-08 15:34] Hamdy commented on #686
Plz take a look at README.md
https://github.com/threefoldtech/digitalmeX/tree/development_webdb/DigitalMe/servers/graphql

[2019-07-09 09:29] BolaNasr commented on #632
it works good ( new installation )
![image](https://user-images.githubusercontent.com/10259267/60875966-3fe12280-a23b-11e9-8b54-2d065fcb85e1.png)

[2019-07-09 09:39] BolaNasr commented on #635
it works good
![image](https://user-images.githubusercontent.com/10259267/60877484-32796780-a23e-11e9-8ca4-23851dce5695.png)

[2019-07-09 09:58] BolaNasr commented on #653
i stopped redis server , and run kosmos again ( it's start redis and open shell Good)
![image](https://user-images.githubusercontent.com/10259267/60878782-b6345380-a240-11e9-8c2a-57c0e5fb5aec.png)

[2019-07-09 10:13] BolaNasr commented on #615
i thinks we should close this issue ..
all we have ```j.builders```
not have ```j.builder``` any more

[2019-07-09 11:33] waleedhammam commented on #675
Branch: **development_builders**
fix at: https://github.com/threefoldtech/jumpscaleX/commit/78344d024038491d003441f213dc94b02b36f7fe
- change default branch getting from installation to current checked branch to avoid pull problems

[2019-07-09 13:13] Dinaamagdy opened #690 "Some builders raise runtime errors"
## digitalme builder
[code]

[2019-07-09 13:14] Dinaamagdy commented on #690
## ardb builder
[code]

[2019-07-09 13:15] Dinaamagdy commented on #690
## influxdb builder
[code]

[2019-07-09 13:17] Dinaamagdy commented on #690
## syncthing builder
[code]

[2019-07-09 13:22] abom commented on #690
The first error is mostly a network issue.

[2019-07-09 13:41] waleedhammam commented on #657
Branch: **development_builders**
this error is likely a network timeout error yet I encountered another error cause of a dependancy lack, fixed  on: https://github.com/threefoldtech/jumpscaleX/commit/ae636575aac3f894406f37ba1d143556549c56f4

[2019-07-09 16:09] waleedhammam commented on #652
Tried on branch development_builders works ok,
the process name is `mysqld`
if you want to stope it more than once you should `j.builders.db.mariadb.stop(reset=True)` cause the decorators only allows it to run once

[2019-07-10 06:05] #675 closed

[2019-07-10 08:09] xmonader opened #693 "incorrect object returned by model.get"
having multiple schemas and multiple objects from these schema

[code]
calling new gives the correct objct from schema proj.human while calling get(1) gets another object from another schema!

# schemas
[code]

[2019-07-10 08:26] despiegk opened #694 "openssl does not build on OSX, neither does openresty"
![image](https://user-images.githubusercontent.com/6021844/60952994-a0846400-a2fc-11e9-9d63-fdfb17fdeee1.png)

[2019-07-10 08:49] despiegk opened #695 "JSX 10.0.1 needs to be used for TF Grid"
- users should use our JSX 10.0.1 (current branch development_jumpscale) for deploying workloads
- are there certain central components we can use and move to JX 10.0.1

[2019-07-10 09:16] waleedhammam commented on #677
On branch **development_builders** working ok

[2019-07-10 09:34] zaibon commented on #695
Why exactly ? there has been nothing new on this branch regarding workload deployment.
Also the code that include extension of reservation is currently on development. Was planning to have a new JSX release when this got merge to master again.
Should I move this code in another branch ?

[2019-07-10 10:01] waleedhammam commented on #669
- For start -> as stated in the builder's docs here: https://github.com/threefoldtech/jumpscaleX/blob/development_builders/Jumpscale/builder/apps/docs/BuilderHub.md
for the first time you have to identify your docker's ip for the hub like here:
https://github.com/threefoldtech/jumpscaleX/blob/development_builders/Jumpscale/builder/apps/docs/BuilderHub.md#install-locally
then should  start ok.
--
-

[2019-07-10 10:10] waleedhammam commented on #664
added on **development_builders** branch
commit: https://github.com/threefoldtech/jumpscaleX/commit/4f5c2d4abcec6a03d7f3a7ba1dc284f2e9c7667e

[2019-07-10 11:03] abom commented on #688
Testing on development_jumpscale, it's working, thing's has changed in `JSBase`, i need more clarification of what's actually needed by these changes to get the right fix and to know where is the problem exactly (auto-completion code or new `JSBase` methods to list members...etc).

[2019-07-10 11:50] waleedhammam commented on #665
needs https://github.com/threefoldtech/jumpscaleX/issues/683

[2019-07-10 11:55] waleedhammam commented on #690
influxdb error is caused by a system broken package; try install/reinstall `libssl1.0-dev`

[2019-07-10 12:22] waleedhammam commented on #690
ran ardb in a fresh container works ok

[2019-07-10 13:00] waleedhammam commented on #589
fixed on development_jumpscale

[2019-07-10 13:03] ranatrk commented on #654
There is a current issue that Caddy import path changed and so the paths need to be updated in the each plugin used. Currently working on fixing the import path of iyo.

**reference to the change (version 1.0.1) :** https://github.com/caddyserver/caddy/releases

[2019-07-10 13:26] Pishoy commented on #653
verified ..
 - jsx version
[code]

[2019-07-10 13:26] #653 closed

[2019-07-10 13:35] Pishoy commented on #632
verified

[code]

[2019-07-10 13:35] #632 closed

[2019-07-10 13:55] Dina-Abd-Elrahman opened #697 "error in all clients bue to bcdb"
- I got this error when i tried to use any client in `development_jumpscale`,
Ex: `j.client.github.`

![error_github](https://user-images.githubusercontent.com/21218053/60974846-1ef7fa80-a32b-11e9-88fa-3f3cfa9242f3.png)

[2019-07-10 13:57] Pishoy commented on #635
verified
[code]

[2019-07-10 13:57] #635 closed

[2019-07-10 14:09] zaibon opened #698 "0-test fails during installation"
For each PR I see 0-Test failing. Seems the error doesn't come from the tests but from 0-test itself

logs of a fail run: http://188.165.233.148:6010/a8b60f9.log

[2019-07-10 14:37] andrewayoub commented on #694
openssl builder fixed

[2019-07-10 14:48] ranatrk commented on #697
The issue is due to switching from a branch to the current `development_jumpscale` branch without executing `js_init generate` as there is a conflict between old bcdb and new files.
**_Fix_**: executing `js_init generate`

[2019-07-10 14:49] Dina-Abd-Elrahman commented on #697
- Fixed, thanks @ranatrk

[2019-07-10 14:49] #697 closed

[2019-07-10 15:14] Dina-Abd-Elrahman commented on #677
- it's working fin now on `development_builders` branch, tested methods: build, install, start, stop, sandbox.

#### Commit ID: `94db33b3c33880839f99cf26406a011423ddc57d`

[2019-07-10 15:14] #677 closed

[2019-07-10 15:17] #615 closed

[2019-07-11 08:27] abom commented on #688
Also, you disabled debug logs if any errors occurred when trying to get auto completions by using `_in_autocomplete` flag again, which i'd already removed, we can improve it by only logging errors in debug mode, but not disabling it at all.

[2019-07-11 08:45] Dinaamagdy commented on #665
verified  on  development_builders

[2019-07-11 08:45] #665 closed

[2019-07-11 08:46] Dinaamagdy commented on #683
verified on  development_builders

[2019-07-11 09:05] BolaNasr commented on #241
it works good at **development_jumpscale** branch
![image](https://user-images.githubusercontent.com/10259267/61037611-ba40ac80-a3cb-11e9-97b9-d976cf6fc0e1.png)

[2019-07-11 09:11] siddiquagig commented on #666
works now

[2019-07-11 09:11] #666 closed

[2019-07-11 09:48] despiegk commented on #688
in autocompletion mode nothing should ever print to the stdout otherwise you get very ugly behaviour
errors we do (raise error) because there there is no choice
the aim was to do it in the debug window but that never worked properly

[2019-07-11 09:55] serboctor commented on #679
[code]

[2019-07-11 10:23] BolaNasr commented on #636
it works good at **development_builders** branch
![photo_2019-07-11_12-22-08](https://user-images.githubusercontent.com/10259267/61043434-8d45c700-a3d6-11e9-996e-785343819022.jpg)

[2019-07-11 10:35] hossnys commented on #679
verified :

[code]
it's appear that i wasn't on the latest update of JsX

[2019-07-11 10:35] waleedhammam commented on #645
works on **development_jumpscsale** in both jumplscaleX and digitalmeX

[2019-07-11 10:36] #679 closed

[2019-07-11 10:46] hossnys commented on #241
verfied on development_jumpscale and development

[code]

[2019-07-11 10:46] #241 closed

[2019-07-11 11:57] Pishoy commented on #658
verified
![image](https://user-images.githubusercontent.com/21987477/61044731-8c626480-a3d9-11e9-9a5f-f64cc2abce8b.png)
 - js version

[code]

[2019-07-11 11:57] #658 closed

[2019-07-11 12:23] hossnys commented on #645
verified  on   **development_jumpscale**
[code]

[2019-07-11 12:23] #645 closed

[2019-07-11 12:56] siddiquagig commented on #636
Works on development_builders

[code]

[code]

[2019-07-11 12:56] #636 closed

[2019-07-11 13:00] ranatrk commented on #654
There are currently 3 issues with Caddy Builder:
1. path in itsyouonline
2. path in filemanager
3. `go mod init` triggers an error ` go mod init: go.mod already exists` when run again when building twice in a row.

[2019-07-11 13:33] Dina-Abd-Elrahman commented on #657
#### Branch : `development_builders`, Commit ID : 4a4e87444c0f5a68a7907fff2eaa16cc57e12ba1

- I tested start, stop, build, install, test, sandbox

[2019-07-11 13:33] #657 closed

[2019-07-11 14:58] Pishoy opened #699 "mariadb server does not started using the generated flist by mariadb sandbox method"
i have create and flist using mariadb sandbox method but when i ceate a container using generated flist, mariadb does not started correctly using startup.toml flist file

[code]
- then create container using flist `https://hub.grid.tf/mikhaieb/mariadb_merged_tf-autobuilder_threefoldtech-jumpscaleX-development.flist`
- ssh to container and find out mysql process but does not exist
[code]

- jsx ver

[2019-07-11 15:04] Dina-Abd-Elrahman commented on #589
- the installation is done successfully using `container-install` option when the key is loaded, but when i delete the key ` ssh-add -D`
the script downloaded the docker then raise this error

`Warning: Permanently added '[localhost]:9122' (ECDSA) to the list of known hosts.
root@localhost's password: `

- so we need to check the existence of ssh-key before to start in any installation step. @wale

[2019-07-11 15:13] Pishoy commented on #694
openssl builder verified
- jsx version
[code]
- on macos Mojave , python 3.7.2

[2019-07-11 15:13] #694 closed

[2019-07-11 16:06] ranatrk commented on #654
Fix in jumpscaleX : https://github.com/threefoldtech/jumpscaleX/commit/3e6b6b838616b6e530494963d86fa5a4f1c6b05c
- update path used from `mholt/caddy` to `caddyserver/caddy`
- clean now removes the DIR_BUILD therefore if build is to be done multiple times after each other, clean should be used before rebuilding to have a clean environment without **go.mod** file

[2019-07-11 16:07] rkhamis commented on #693
I think in this case what should happen is that error is raised when the id does not correspond to the model.

Otherwise it just doesn't make sense and instead you should use `get_by_name`

[2019-07-11 16:33] xmonader commented on #693
@rkhamis problem is `get` on model actually delegates the call to `model.bcdb.get` which returns the object by auto incremented `creation id`

`get` on model should return the object with respect to the model itself.

does `get_by_name`  assume that there's `name` property on every model? or is created implicitly?

[2019-07-11 16:38] BolaNasr commented on #693
Fixed it by Raise error if we didn't have this id in our object model
![image](https://user-images.githubusercontent.com/10259267/61068719-f21b1480-a40a-11e9-87c5-1c2628e5c86e.png)

[2019-07-11 17:12] rkhamis opened #700 "Jumpscale Testing"
This storycard covers the most important topics to be tested in jumpscale

To be developed on branch [development_jumpscale_testing]

- [**Installations**](https://github.com/threefoldtech/jumpscaleX/issues/715)
  - in system installation
  - docker installation
  - need to find a service that allows us to automate tests on OSX

- [**Security Layer**](https://github.com/threefoldtech/jumpscaleX/is

[2019-07-11 17:20] serboctor commented on #323
I faced this issue again while testing with a local grid_broker, I did an extension and I could see the the broker checking for new transaction but somehow not seeing the new transaction.
Luckily I was able to reproduce it, it doesn't always happen.
The broker depends on the transactions list being sorted by time, and it keeps a track of the number of the transactions processed and uses this count

[2019-07-11 17:32] rkhamis commented on #700
Architecture to run tests:

![Untitled drawing (1)](https://user-images.githubusercontent.com/8425762/61071888-7de46f00-a412-11e9-8416-6291bb1d8b8e.jpg)

Trigger on PR is exactly the same but without the builder tests.

[2019-07-11 17:36] rkhamis opened #701 "JumpScale Documentation"
This storycard is about both technical and end user documentation regarding the following topics

- [x] Installations [Installation README](https://github.com/threefoldtech/jumpscaleX/blob/development_jumpscale/docs/Installation/README.md)
  - [x] in system installation
  - [x] docker installation

- [x] Security Layer [Security Layer README](https://github.com/threefoldtech/jumpscaleX/tree/develo

[2019-07-13 09:13] despiegk opened #702 "servers.dns needs some fixes [development_jumpscale_dns]"
```kosmos 'j.servers.dns.test()'``` still fails

the DNS client does not connect on the custom port 5354?

we also need to refactor some logic in resolver

have refactored the classes to use our config manager
the resolver was too limited, had to insert 1 layer means we now need to fix the resolver to use this updated schema

[2019-07-13 09:14] despiegk commented on #702
is not to do with the port, its to do with the refactoring
![image](https://user-images.githubusercontent.com/6021844/61169554-649d0900-a55f-11e9-8ef3-79177fca5fee.png)

[2019-07-13 09:22] despiegk commented on #702
the basic test works now, but we still need to refactor putting records in
and put also these tests in the test() method

add some records to a chosen domain

use branch [development_jumpscale_dns]

[2019-07-13 09:28] despiegk opened #703 "sonic client/server gives an issue still somewhere"
![image](https://user-images.githubusercontent.com/6021844/61169734-3caea500-a561-11e9-925a-2bad1e1b97d2.png)

just when using the shell

[2019-07-13 09:30] despiegk commented on #703
use kosmos 'j.servers.sonic.test()' to test

[2019-07-13 09:31] despiegk commented on #269
has been taken care of in development_jumpscale branch

[2019-07-13 09:31] #269 closed

[2019-07-13 09:32] despiegk commented on #298
did we do something here?

[2019-07-13 10:33] despiegk opened #704 "openresty finish"
- implement forwarding
- finish test() method

[2019-07-13 10:33] despiegk commented on #704
kosmos 'j.servers.openresty.test()'

[2019-07-14 07:28] despiegk opened #705 "zdb does not stop when asked for using startupcmd"
![image](https://user-images.githubusercontent.com/6021844/61180617-996d9680-a619-11e9-84f9-e7d2660d4f55.png)

test using
kosmos 'j.clients.zdb.test()'

[2019-07-14 07:32] despiegk opened #706 "checlk zdb start/stop done properly"
is now using config classes, need to do some search...
to find if used properly

[2019-07-14 07:48] #706 closed

[2019-07-14 07:48] #705 closed

[2019-07-14 08:22] despiegk opened #707 "redis server not there yet"
![image](https://user-images.githubusercontent.com/6021844/61181058-020c4180-a621-11e9-89ca-e330048bd0b2.png)

lots of duplication

![image](https://user-images.githubusercontent.com/6021844/61181066-26681e00-a621-11e9-99a7-687f570526ca.png)

doesn't seem right
should be a hset of data:$sid:$id

does not fetch info

[2019-07-14 08:26] waleedhammam commented on #701
Will start with Installation docs.
- Todo:
- add/enhance readmes
- simple demo/tutorial

[2019-07-14 08:33] despiegk opened #708 "test openresty using startupmanager type: corex"
- corex startupcmd manager did not have much testing yet
- the default for openresty is tmux today, lets test with corex

[2019-07-14 08:40] despiegk opened #709 "finish openresty factory"
- use http(s) client
- do 2 nginx webservers
    - use 1 nginx forward to other nginx static page
   - test using JSX http client
- implement letsencrypt configuration
    - do this by using grack webserver (j.servers.rack) and implement super simple webserver which will answer in right way to letsencrypt
    - test on digitalocean VM

[2019-07-14 08:43] despiegk opened #710 "get markdowndocs to work"
- see with Andrew he needs it in #709
- check include/link macro's
- need some more tests

[2019-07-14 08:52] despiegk opened #711 "finish threebot server factory"
need to wait for #709  (openresty)

todo

- [x] test chatbot
- [ ] authentication through openresty (need add on there probably) for chatbot
- [ ] packaging (kristof)
- [ ] integration of gundb client (need auth with master passwd)
- [ ] integration graphql client (need auth with master passwd)
- tbd

[2019-07-14 08:52] abom commented on #683
The PR is still another branch (not tested yet) and the main problem is stated in this issue, not #665.

[2019-07-14 09:33] despiegk opened #712 "test kosmos 'j.servers.startupcmd.test()'"

[2019-07-14 09:34] rkhamis opened #713 "model.new should raise error if it already exists"

[2019-07-14 09:35] rkhamis commented on #606
@mdeecode are you working on this or should we re-assign?

[2019-07-14 09:36] despiegk commented on #712
also test corex backend properly

[2019-07-14 09:40] despiegk opened #714 "BCDB tests need to be redone"

[2019-07-14 09:47] 0xIslamTaha opened #715 "Testing: Installation"
**Module Requirements**

- in system installation
- docker installation
- need to find a service that allows us to automate tests on OSX

**Description**
We need to make sure that all the requirements of the installation script are working as expected.

**Deliverable**

- A full test plan in TestQuality tool with all related test cases (Linux, Mac, Windows).
- After approving those test cases, You

[2019-07-14 09:49] despiegk opened #716 "test install on ubuntu1804 with container option"
# check

- [x] there was no need to install docker, was autoinstalled by installer
- [x] install worked
- [x] could install web components
- [x] try option -r -d so we restart from scratch

test using digital ocean client
make test script paste it here

[2019-07-14 09:54] 0xIslamTaha opened #717 "Testing: Security Layer"
**Module Requirements**

  - NACL and configmanager
     - with sshkey
     - without sshkey
  - functionality
    - should be secure, meaning data that is encrypted should be verified to be encrypted unless being retrieved through the nacl module
    - should be able to set new config
    - should be able to get config
    - should be able to delete config
    - should be able to recover config i

[2019-07-14 09:56] 0xIslamTaha opened #718 "Testing: Data Layer"
**Module requiements**
    - schemas
       - already we have some tests, but need to be extended with more scenarios
   - BCDB
       - already we have some tests, but need to be extended with more scenarios
       - performance tests

**Description**
We need to make sure that all the requirements of the security layer are working as expected.

**Deliverable**

- A full test plan in TestQuality t

[2019-07-14 10:21] zgorizzo69 commented on #707
![image](https://user-images.githubusercontent.com/16853695/61182317-9e3e4480-a631-11e9-8a47-f40dc2d688db.png)
Indeed when pausing the redis test for bcdb `j.data.bcdb.test('redis')` every entry is doubled except for entry sid:1

[2019-07-14 10:23] zgorizzo69 commented on #707
![image](https://user-images.githubusercontent.com/16853695/61182362-1f95d700-a632-11e9-8ac9-21274e8cee8d.png)
there is an error shown in redis log

[2019-07-14 10:51] andrewayoub commented on #298
No, still only the main functionalities available

[2019-07-14 11:03] andrewayoub commented on #298
<b>here are the implemented methods </b>
<b>/info</b> : <i>Displays a report for the running nodes and farmers</i>
<b>/list_farmers </b> : <i>show farmer name, email, id sorted</i>
<b>/list_nodes_farmer  {farmerid}</b> : <i>list all nodes for a given farmer</i>
    <code>/list_nodes_farmer 123</code>
<b>/node_info (under development) {nodeid}</b> : <i>get detailed info about the given node</i>

[2019-07-14 11:14] Dinaamagdy commented on #715
we will follow the docs here
https://github.com/threefoldtech/jumpscaleX/tree/master/docs/Installation

[2019-07-14 11:20] waleedhammam commented on #589
@ branch: **development_jumpscale** @ commit: **https://github.com/threefoldtech/jumpscaleX/commit/0f8315db548a67ce3b5c6aa35438a49d6a750f93**

**changelog:**
- raise error when ssh-key is not avaliable
- fix the dirty hack that removes host's known hosts and replaced with adding to it

[2019-07-14 11:24] zgorizzo69 commented on #707
fix in this commit d1907a37ecb3be9144bb05d87cc6af41155d8f47
we still have more url than sid and hashes but it is not related  to redis server that why I close that issue

[2019-07-14 11:24] #707 closed

[2019-07-14 13:28] Dina-Abd-Elrahman commented on #715
-- I think we need to change certain part in documentation:
- the prerequisites need to be separated for every part alone, like we need to put the prerequisites of `a system` with `insystem` part and for the docker with the docker part.

[2019-07-14 13:33] waleedhammam opened #720 "ssh client raises an error"
when trying to create/get a ssh client instance it raises:
 `AttributeError: type object 'SSHClientFactory' has no attribute '_SCHEMATEXT'`

 **full stacktrace**
JSX> `j.clients.ssh.new("test_client") `

[code]

[2019-07-14 13:37] waleedhammam commented on #716
blocked on: https://github.com/threefoldtech/jumpscaleX/issues/720 will try to fix it

[2019-07-14 14:03] Dina-Abd-Elrahman commented on #715
- for `docker` option we can use two testcases ( happy and unhappy scenario ), if ssh key doesn't loaded this will be the unhappy path,  as we cannot install without ssh-key. (sshkey uses to access the docker)

- the happy scenario is testing with loaded sshkey

[2019-07-14 14:32] waleedhammam commented on #720
fixed at https://github.com/threefoldtech/jumpscaleX/commit/a07c78f30177a249796fad31d1ce9197c0f783ba branch **development_jumpscale**

[2019-07-14 14:32] #720 closed

[2019-07-14 16:14] BolaNasr commented on #714
Still working on it but have problem in JSconfig when save data because it didn't have model
![image](https://user-images.githubusercontent.com/10259267/61186232-28eb6780-a663-11e9-840e-42d7cb06367f.png)

[2019-07-14 16:31] serboctor commented on #703
@despiegk I am not sure why you're getting this error, this attribute actually exists. I hardened the test and everything seems to be working fine.

[2019-07-14 16:50] serboctor commented on #713
That is already the case, unless if the created instance was not saved.

[code]

[2019-07-14 17:19] waleedhammam commented on #716
Did some fixes on starting installation,
The script runs ok but stucks for i/os
Need to make the installer non-interactive to complete it.

[2019-07-14 17:20] ranatrk commented on #699
Currently getting an error in installing mariadb and working on it, therefore still didn’t reach the current issue

[2019-07-14 17:20] xmonader commented on #702
I'll check it tomorrow morning, was doing on lots of fixes on gundb server protocol and backend

[2019-07-14 17:25] Hamdy commented on #708
I've added a fix for j.servers.corex.test()
still working on openresty test

[2019-07-14 19:27] xmonader commented on #630
currently we havetcprouter+coredns with tests and deployment script against digital ocean, still requires a stable version of jumpscale/digitalme for actors

[2019-07-15 07:47] siddiquagig opened #721 "Ripple build raises error"
Ripple build shows the following error:

[code]

[code]

[2019-07-15 07:50] serboctor commented on #323
After digging deeper, it seems that transactions are sorted by `block_height` and since we can have several transactions within the same block, we can't guarantee they'd be ordered chronologically. As a compromise between rechecking all transactions and between the current implementation, I've added a buffer which is the number of transactions we would recheck. This number should be roughly equal

[2019-07-15 08:56] Dina-Abd-Elrahman commented on #589
- verified and it's working as expected.

[2019-07-15 08:56] #589 closed

[2019-07-15 10:34] rkhamis commented on #702
Done here: https://github.com/threefoldtech/digitalmeX/pull/273/files

[2019-07-15 10:35] rkhamis commented on #713
Indeed, this behavior makes sense

[2019-07-15 10:35] #713 closed

[2019-07-15 11:12] Hamdy commented on #712
There was some small issue related to pid of process not being recognized and saved properly
tests ran smoothly after getting pid.
also fixed j.servers.corex.test()

[2019-07-15 12:48] serboctor commented on #323
Fixed by https://github.com/threefoldtech/grid_broker/commit/5cfbecfaa14dbfa756e734752227ee4af62691a0

[2019-07-15 12:49] BolaNasr commented on #714
Now it works good
![image](https://user-images.githubusercontent.com/10259267/61217345-c308e980-a70f-11e9-8937-add01f5d33b0.png)

[2019-07-15 14:16] mdeecode commented on #606
@rkhamis I had a fix; I'll need to test if it still works then I'll do a PR.

[2019-07-15 14:47] waleedhammam commented on #606
fixed at branch **development_jumpscale** commits: https://github.com/threefoldtech/jumpscaleX/commit/bf54d2866a2dc45d834f972522e90a3cbbd38cd6, https://github.com/threefoldtech/jumpscaleX/commit/20d6da76eb3a6288a4ae43253d463f3e8e8f3ed0
**steps:**
[code]

[2019-07-15 14:48] serboctor commented on #684
but `syncthing` builder actually doesn't use python. It actually uses go. I installed python then syncthing and couldn't reproduce the issue.
However this is a list of other builders that use python and need to be refactored:

- [ ] Odoo (already done by Ghanem)
- [ ] MongoDb
- [ ] Tarantool
- [ ] Graphql

[2019-07-15 14:51] waleedhammam commented on #606
for now it's working for container-install
will check insystem

[2019-07-15 15:46] serboctor commented on #323
After some discussions with @LeeSmet I learned that my buffer fix won't necessarily ensure that no transactions are dropped. Unconfirmed transactions have block_height 0 and once they become confirmed, it is possible that they join a block lower than the latest one. Those 2 facts make it impossible to depend on slicing the transaction list. For now I refactored the watcher to go over all transacti

[2019-07-15 16:39] waleedhammam commented on #716
Current progress:
- With digital ocean client created a machine
- using ssh client to access it
- installed jsx with nothing else on the system in container
- installation works OK non-interactivly
  Working on:
- installing web components and testing it
- trying options r and d
- completing the running script

[2019-07-15 16:54] andrewayoub commented on #709
Using lua-resty-auto-ssl library made it requires no extra configurations at all, it will issue certificate for any domain.
see example [here](https://testdigitalocean.threefold.io)

I have also refactored the test to use jumpscale http client instead of requests

and the test now creates two servers one hosting static page and the other one is the proxy server

[2019-07-16 07:06] Dina-Abd-Elrahman commented on #664
- verifed .

[2019-07-16 07:06] #664 closed

[2019-07-16 07:09] Dina-Abd-Elrahman commented on #669
- verified .

[2019-07-16 07:09] #669 closed

[2019-07-16 10:50] xmonader commented on #685
https://github.com/threefoldtech/digitalmeX/commits/development_jumpscale

[2019-07-16 10:56] ranatrk commented on #699
- ssh to container and no mysql process running
- When manually running each line in the startup.toml script, the following occurred and so currently investigation:
    - library missing (Fix: `apt-get install libaio1 libaio-dev`)
![Screenshot from 2019-07-16 12-49-25](https://user-images.githubusercontent.com/17128393/61289080-c9a76780-a7c8-11e9-979b-c8be1b58823a.png)
    - mysql.user table aread

[2019-07-16 11:06] #704 closed

[2019-07-16 12:25] waleedhammam commented on #606
fixed no-interactive insystem at: https://github.com/threefoldtech/jumpscaleX/commit/5fabed0b695b1036885527b58797abe42592edf1 branch **development_jumpspcale**
**steps**
[code]

[2019-07-16 12:49] waleedhammam commented on #716
Fixed no-interactive installation
now continue on the script

[2019-07-16 14:32] john-kheir commented on #717
Testsuite scenarios : https://jsx.testquality.com/project/7543/plan/13134/test/178904

[2019-07-16 14:40] john-kheir opened #722 "privkey_words always need to be generated during JS installation"
## Now:
No privkey_words are generated during installation

## Needed
privkey_words always need to be generated during JS installation in case js-private key has been lost for any reason. If  js-private key can't be retrieved, the data ,that have been encrypted using it, is lost as well

[2019-07-16 14:59] 0xIslamTaha opened #723 "could not find attribute:wallets in tfchainclient"
[code]

**Branch**
jumpscale_development

**Hint**
It is working on `development` branch

[2019-07-16 15:39] Pishoy opened #724 "create option to delete jumpscalex installation in system"
- need a feature to remove jsx installation in system and clean jsx variables form user profile that has been added
- option in system like container_delete
[code]

[2019-07-16 16:32] waleedhammam commented on #716
script done in here: https://gist.github.com/waleedhammam/dbc786fdf33b25547f548467f0ec1743

[2019-07-17 10:55] waleedhammam commented on #701
Changelog: Installer
- updated install readme; branch **development_jumpscale**; commit: https://github.com/threefoldtech/jumpscaleX/commit/c52a2c4f9725330070cdc7e76ef002cde7c54002
file https://github.com/threefoldtech/jumpscaleX/blob/development_jumpscale/docs/Installation/README.md

[2019-07-17 11:30] Pishoy opened #725 "contianer_shell not working with jsx installation in container with MacOS"
- install jsx in docker `/tmp/jsx container_install`

-  start container shell `/tmp/jsx container_shell`

[code]

- jsx version
[code]

- host : macOS mojave

[2019-07-17 13:36] waleedhammam commented on #701
Changelog: Security Layer
* Updated readme; branch: **development_jumpscale** commit: https://github.com/threefoldtech/jumpscaleX/commit/2dc8e901238aeb1afa254595bb5a92ce1c5365a5
file: https://github.com/threefoldtech/jumpscaleX/tree/development_jumpscale/docs/security_layer

[2019-07-17 13:46] Pishoy opened #726 "cont"
<p><a href="https://github.com/threefoldtech/jumpscaleX/issues/725">https://github.com/threefoldtech/jumpscaleX/issues/725</a></p>

[2019-07-17 13:46] Pishoy commented on #726
`Created by TestQuality - Linked to TestQuality.com defect D2. Do not remove or edit.` [D2](https://jsx.testquality.com/project/7543/result/1292617/defect/4561)

[2019-07-17 13:49] serboctor commented on #723
Fixed https://github.com/threefoldtech/jumpscaleX/commit/530ae596c8896196cab581099434a97eb40dd3f8

[2019-07-17 14:14] serboctor commented on #529
As a part of the refactor, also use a different user for python requirements. Check odoo/graphql/mongodb builders as a reference.

[2019-07-17 17:08] rkhamis opened #727 "make sure all startup cmd usage is fixed with the new interface"

[2019-07-17 17:09] rkhamis opened #728 "startup cmd only works with ports"
startup cmd needs to be able to tell a process is running even if no port is satisfied (use process id)

[2019-07-18 06:02] despiegk opened #729 "maybe some issues with sonic?"
![image](https://user-images.githubusercontent.com/6021844/61432959-1616b280-a943-11e9-84a9-c9ee9e4f3651.png)

[2019-07-18 06:02] despiegk commented on #729
[code]

not sure how to use but thought this should work

[2019-07-18 06:03] despiegk commented on #729
there are multiple things going on here but one is we need to reconnect the socket when broken because of e.g. error

[2019-07-18 06:04] despiegk commented on #729
other example
just do a push couple of times

![image](https://user-images.githubusercontent.com/6021844/61433084-6857d380-a943-11e9-9d5c-c745b3b49aab.png)

[2019-07-18 06:32] siddiquagig commented on #723
Works now:

![devjs](https://user-images.githubusercontent.com/25789724/61434520-406a6f00-a947-11e9-9dc0-d09222d3bf38.JPG)

[code]

[2019-07-18 06:32] #723 closed

[2019-07-18 09:23] ranatrk commented on #727
branch: _[jumpscale_development]_

[2019-07-18 09:48] waleedhammam commented on #725
fixed at: https://github.com/threefoldtech/jumpscaleX/commit/399cccf8018365a5852c6e1c3a81ed0cd64d18a4 branch **development_jumpscale**

[2019-07-18 09:49] siddiquagig commented on #727
Verified and tested with a builder

[code]

[2019-07-18 10:00] GlenDC opened #730 "provide multichain support to the tfchain client (wallet)"
- no longer hardcode units (TFT) but link these to the wallet chain
- use by default tfchain, but allow also goldchain
- link networks to the chain type, as a chain defines what network types are valid, and what configuration each network has (e.g. bootstrap peers)

[2019-07-18 10:01] GlenDC opened #731 "support all auth coin transactions"
- [ ] support encoding/decoding of auth coin transactions
- [ ] support signing and hashing of auth coin transactions

[2019-07-18 10:03] GlenDC opened #732 "support mint coin destruction tx"
Support encoding, decoding, hashing and signing of the new (optional) mint coin destruction tx.

[2019-07-18 11:13] Pishoy commented on #725
verified

[2019-07-18 11:13] #725 closed

[2019-07-18 16:10] BolaNasr commented on #711
i have error when get openresty to start it ( and test is fail ```j.servers.openresty.test()``` )
jumpscaleX ( development_jumpscale)
DigitalMeX ( development_jumpscale)
![image](https://user-images.githubusercontent.com/10259267/61473672-29e40800-a987-11e9-8ac3-cc9ee2cd4b16.png)

[2019-07-18 16:14] BolaNasr commented on #708
i have error when get openresty to start it ( and test is fail ```j.servers.openresty.test()``` )
jumpscaleX ( development_jumpscale)
DigitalMeX ( development_jumpscale)
![image](https://user-images.githubusercontent.com/10259267/61473672-29e40800-a987-11e9-8ac3-cc9ee2cd4b16.png)

[2019-07-18 16:42] rkhamis opened #733 "re-check openresty builder"
Installer for openresty shows errors on development_jumpscale

[2019-07-18 16:54] #733 closed

[2019-07-19 08:58] GlenDC opened #734 "fail to install JSX on a fresh MacOS machine"
I have no previous installation, on my host machine, no scripts left from old installations, and no containers.

I follow the 3-steps of the "Interactive Container" installation process as described on https://github.com/threefoldtech/jumpscaleX/blob/development_jumpscale/docs/Installation/README.md#interactive-container

It fails always at the same step:

[code]

Note that I do have an ssh-key lo

[2019-07-19 13:25] GlenDC commented on #734
@zgorizzo69 helped me, and allowed me to install JSX as follows from my host machine (with the docker container already created by my failed installation, but manually stopped it prior to running these commands):

[code]

After that is finished I am able to go into the kosmos from my host machine using:

[code]

[2019-07-20 04:57] despiegk commented on #734
we should know what the issue was.
The installer should be smart enough to figure out how to clone and which credentials to use.

are we sure the right branch was used for the jsx install tool?

[2019-07-20 08:02] GlenDC commented on #734
100% sure it was the correct branch, if the correct branch is development_jumpscale that is, as is confirmed by the logs above

[2019-07-22 07:13] GlenDC opened #735 "rivine/tfchain: support your formatted messaging supported by other clients"
The 3Bot mobile app as well as the Threefold Desktop wallet allow formatted messaging, using the arbitrary data of transactions, this should be optionally supported by the Rivine/tfchain client as well.

See <https://github.com/threefoldtech/threefold-wallet-electron/issues/147> for more details.

[2019-07-22 09:02] ranatrk commented on #654
A new tag/release needs to be created in https://github.com/itsyouonline/caddy-integration/pull/37 so the changes are shown when` go get` is used.

[2019-07-22 09:44] ranatrk commented on #656
install and start updated, start doesnt redo install unless install wasn't complete
https://github.com/threefoldtech/jumpscaleX/commit/e6c9d19df39af9a5d0cf7264db7daff968736028

[2019-07-22 09:53] waleedhammam commented on #701
Now, working on updating baseclasses docs.

[2019-07-22 11:08] siddiquagig commented on #714
Verified

```JSX> j.data.bcdb.test()```

[code]

[code]

[2019-07-22 11:08] #714 closed

[2019-07-22 12:37] siddiquagig commented on #703
I get the following error:

![sonic](https://user-images.githubusercontent.com/25789724/61632867-e3e8b600-ac9e-11e9-95eb-cd986e98a17e.jpg)

[2019-07-22 12:39] siddiquagig opened #736 "Sonic install raises error"
Sonic builder raises error

[code]

Branch: development_jumpscale

[code]

[2019-07-22 12:56] hossnys commented on #712
Verified on branch development_jumpscale

[code]

[code]

[2019-07-22 12:58] #712 closed

[2019-07-22 13:58] waleedhammam commented on #734
Now, Checking installation on a freash MacOS Mojave

[2019-07-22 14:33] rkhamis opened #737 "jumpscale installer needs to have the branch parameterized"
This is to enable autotesting on multiple branches as well as prevent merge issues with branch names in the installer.

It should default currently to `development_jumpscale` until we merge back to `development`

[2019-07-22 14:39] BolaNasr commented on #711
i passed the error above but have problem
![image](https://user-images.githubusercontent.com/10259267/61641186-f95de000-ac9e-11e9-8dae-464779f0ab04.png)

it can't serve index.etlua if i add index.html it works good  in ```/sandbox/var/web/html/chat```

@abom  any suggestion for that i think the problem in config somehow

[2019-07-22 14:56] waleedhammam commented on #734
On a fresh MacOS user:
- `ssh-keygen`
- `ssh-add`
- `ssh-add -L`
- added the key to GitHub
- execute the following from docs
[code]
and installation works Ok
___
## Stacktrace from the point in the ticket
[code]
## possible reasons for that issue
- wifi and ethernet both connected so ssh conflict happens
- issue with GitHub cloning with ssh
- ssh-key is not added to GitHub authorized key or confli

[2019-07-22 16:16] rkhamis commented on #729
I tried with multiple pushes and queries and it works fine with me.

[code]

[2019-07-22 16:41] abom commented on #711
That's a configuration problem for sure, you need use openresty directives like `content_by_lua_block` if you running a lapis app, not serving etlua files as html files.

See https://leafo.net/lapis/reference/getting_started.html#creating-an-application/nginx-configuration

[2019-07-22 17:03] waleedhammam commented on #737
**We have two scenarios now**
**Case 1**
- install normally without passing a branch.
`/tmp/jsx install`
That will download `InstallTools.py` and installs from the default branch which is hardcoded in the `jsx.py` script
**Case 2**
Passing the branch through installation
`/tmp/jsx install -b hamada`
That will download `InstallTools.py` and installs from the hamada branch.
Commit: https://github.co

[2019-07-23 07:52] waleedhammam commented on #701
Changelog: Installation, Security Layer:
- some updates due to new changes at: commit: https://github.com/threefoldtech/jumpscaleX/commit/8b85aac3dc05e3e4e8ee9b7de7f2818fcfa187df ; branch: development_jumpscale

[2019-07-23 08:33] Dina-Abd-Elrahman commented on #684
- I cannot reproduce the error too, We can close it now and re-opened it if we face this error again.

[2019-07-23 08:33] #684 closed

[2019-07-23 09:18] waleedhammam opened #738 "Check installation on development_jumpscale"
Check and fix errors in the following:

- [x] Install in System interactive
- [x] Install in System no-interactive
- [x] Install in container interactive
- [x] Install in container no-interactive

[2019-07-23 09:19] waleedhammam commented on #738
No on in-system interactive installation

[2019-07-23 10:07] despiegk opened #739 "methods should not be shown"
![image](https://user-images.githubusercontent.com/6021844/61703669-5fe80a00-ad42-11e9-8a17-4cefa1f08f25.png)

something wrong in _inspect of  JSBASE class?

[2019-07-23 10:49] andrewayoub opened #741 "Add full text search to bcdb"
when you add *** to a field in the schema this should index this field in sonic server so you can perform full text search on it

[2019-07-23 11:21] ranatrk commented on #654
- Build working with latest release of caddy-integration: https://github.com/itsyouonline/caddy-integration/releases/tag/v0.9.13

- https://github.com/threefoldtech/jumpscaleX/commit/416891f7dbd5612a82dfafbe78c34f2ffd6e8730

[2019-07-23 11:25] abom commented on #710
Initial working config was added

[code]

Then going to `mywiki2.com/wiki/foundation` (mywiki2.com points to container ip in `/etc/hosts`).

[2019-07-23 12:06] rkhamis commented on #682
I'll close this since we're now all up to date with development_jumpscale

[2019-07-23 12:06] #682 closed

[2019-07-23 12:07] Hamdy commented on #736
sanic installation works correctly
can not repreduce

[2019-07-23 12:13] rkhamis commented on #703
@siddiquagig I think your issue is that sonic wasn't installed. I've tested this again and it works.

[2019-07-23 12:27] siddiquagig commented on #703
Verified, working now

[2019-07-23 12:27] #703 closed

[2019-07-23 12:52] waleedhammam commented on #738
fixed in container no-interactive
make sure to delete the old image `docker image rm despiegk/3bot`

[2019-07-23 13:10] waleedhammam commented on #738
working in in-system no-interactive

[2019-07-23 13:16] Dina-Abd-Elrahman commented on #688
#### Branch: `jumpscale_development` .

#### Commit ID: cd38553270bcb29e7cee2e348f39483cb1993823, 8e8c6f0c864cf2a782546521d074c04ba1e88a8d .

- verified. with debugging mode on and off.

[code]

[2019-07-23 13:16] #688 closed

[2019-07-23 13:27] waleedhammam commented on #738
Verifying now on a fresh machine ..

[2019-07-23 13:30] Pishoy commented on #606
verified
- steps :
[code]
- js version

[code]

[2019-07-23 13:30] #606 closed

[2019-07-23 14:05] Dinaamagdy commented on #654
solved in development_builders

[2019-07-23 14:05] #654 closed

[2019-07-23 14:45] ranatrk opened #742 "ZOS client :issue with connecting"
- ZOS client doesn't connect to the node intended and timeout occurs. A valid jwt is used.
- branch:  **[development_builders]**
- Steps:
[code]
- Error:
![Screenshot from 2019-07-23 16-43-00](https://user-images.githubusercontent.com/17128393/61721630-0d6e1400-ad69-11e9-854e-d9155893b960.png)

[2019-07-23 15:30] waleedhammam commented on #738
encounterd an error happens at digitalocean machine; **insystem** install clones under ~/sandbox
trying to fix it now

[2019-07-23 15:50] hossnys commented on #708
i found these two errors on two different installation :
old installation with latest changes give me this error :
[code]

on a fresh install container this error appeared :
![Screenshot from 2019-07-23 17-43-31](https://user-images.githubusercontent.com/26298009/61726666-4ced2e00-ad72-11e9-90ba-4ad2cf4531ad.png)

[2019-07-23 16:10] ranatrk commented on #699
fix for issue when ldd results in 'statically linked' output:
https://github.com/threefoldtech/jumpscaleX/commit/de0c937ac46ae453bea019c07577746081126b5e

currently working on sandbox of dependencies correctly

[2019-07-24 08:04] Pishoy commented on #734
- steps as mentioned above in addition remove nay old files in case old installation like ~/sandbox before installation

- jsx version inside docker
[code]

[2019-07-24 08:04] #734 closed

[2019-07-24 10:48] Pishoy commented on #716
needs https://github.com/threefoldtech/jumpscaleX/issues/738

[2019-07-24 12:14] siddiquagig commented on #727
It is not working for  servers with ports :

![rana](https://user-images.githubusercontent.com/25789724/61792541-0f4ddb00-ae2e-11e9-9e93-a1b82216df6a.JPG)

[2019-07-24 12:54] Dinaamagdy commented on #737
blocked on https://github.com/threefoldtech/jumpscaleX/issues/738

[2019-07-24 13:25] 0xIslamTaha opened #744 "Memory usage of nginx, php and SabreDav"
**Enviroment description**
Docker image: ubuntu 18.04
nginx: 1.14.0
php: 7.2.19
php-fpm:  php-fpm7.2
sabreDav: ~3.2.0

**Running server**
[code]

### 1- Usage with **worker_processes auto:**:
**Memory Usage**
##### ngingx
[code]
##### php
[code]

**htop**
![image](https://user-images.githubusercontent.com/17981089/61797195-3523b180-ae27-11e9-831f-77624b53d81a.png)

### 2- Usage with nginx **worker

[2019-07-24 14:20] Dinaamagdy commented on #683
tried on development_jumpscale and install itself doesn't work with the follwoing error :
[code]

[2019-07-24 14:33] ranatrk commented on #727
Fix for servers with ports : https://github.com/threefoldtech/jumpscaleX/commit/25ba825f909229bf359febb1e42b5259df531f42

[2019-07-24 15:21] siddiquagig commented on #727
Working now for redis.start() but not for nginx.start()

```JSX> j.builders.db.redis.start()```

![redis1](https://user-images.githubusercontent.com/25789724/61805641-3238b900-ae47-11e9-835d-7858ebff91a3.JPG)

nginx.start() :

![nginx1](https://user-images.githubusercontent.com/25789724/61806116-31eced80-ae48-11e9-8378-e40495703a69.JPG)

[2019-07-24 19:18] ranatrk commented on #727
Fix : use `exec -a cmd_name` when starting to use the name rather than the cmd itself when checking if running or getting pid.
https://github.com/threefoldtech/jumpscaleX/commit/7369315ecea52fe29ed9c7ada0d9fc7306702ebf

[2019-07-25 08:12] siddiquagig commented on #621
Tried this on a fresh install , getting this error :

![tcp](https://user-images.githubusercontent.com/25789724/61857550-72467d00-aed5-11e9-8378-1030b34af2fd.JPG)

Branch : ```development_jumpscale```
[code]

[2019-07-25 08:29] waleedhammam commented on #738
fixed at https://github.com/threefoldtech/jumpscaleX/commit/5020e020db6093500de2f0b8aedd2859f5c43dfe development_jumpscale

[2019-07-25 08:29] waleedhammam commented on #738
Working on docker container-install scenarios with ssh-key and ssh-agent loaded or not

[2019-07-25 09:00] ranatrk commented on #728
Fix in https://github.com/threefoldtech/jumpscaleX/issues/727
commit : https://github.com/threefoldtech/jumpscaleX/commit/7369315ecea52fe29ed9c7ada0d9fc7306702ebf

[2019-07-25 09:21] Pishoy commented on #736
am still getting this error using new JSX installation in system
[code]

[2019-07-25 09:21] john-kheir commented on #693
Verified

## Verification steps

1- Create any schema
schema_text = """@url = proj.human
name* = test-name """
2- `bcdb = j.data.bcdb.get("test")`
3- `model = bcdb.model_get_by_schema(schema_text)`
4- `z  = model.new()`, then `z.save()`
5- `model.get(1)` --> this will get the model you just created
6-  `model.get(2)`
this will throw an error since model with id=2 is not there

Branch: development

[2019-07-25 09:21] #693 closed

[2019-07-25 09:22] Pishoy commented on #729
need https://github.com/threefoldtech/jumpscaleX/issues/736

[2019-07-25 10:09] john-kheir commented on #741
Verifications Steps:
1- Create data and schema
[code]
2- Get model
[code]
3- Save the data
[code]
4- Search for the data ad assert
[code]
Commit: https://github.com/threefoldtech/jumpscaleX/commit/ec950fb84c81bcdb372e9ad880f9
branch: development_jumpscale

[2019-07-25 10:09] #741 closed

[2019-07-25 10:19] Dinaamagdy opened #745 "confusing between development_jumpscale and development_builders branches"
There are things works on development_builder but don't work on development_jumpscale  and vice versa
As Example :
## caddy builder
### in development_builders :
j.builders.web.caddy.build() : works
j.builders.web.caddy.start() : fails due this issue https://github.com/threefoldtech/jumpscaleX/issues/728
and this issue solved on development_jumpscale not in development_builders

### in development

[2019-07-25 10:44] rkhamis commented on #745
@Dinaamagdy fixed. Please try again, and please use development_jumpscale as it has the latest fixes

[2019-07-25 10:49] siddiquagig commented on #727
Verified for nginx also, its working now:

![nginx2](https://user-images.githubusercontent.com/25789724/61868825-4d5d0480-aeeb-11e9-957d-592f98e23d61.JPG)

[code]

[2019-07-25 10:49] #727 closed

[2019-07-25 11:46] Dinaamagdy commented on #745
worked on development_jumpscale
## Steps
- j.builders.db.redis.build(), j.builders.db.redis.install(), j.builder.db.redis.start()
- j.builders.web.caddy.build(), j.builders.web.caddy.install(),j.builders.web.caddy.start()

and both works well

[2019-07-25 11:46] #745 closed, assigned to rkhamis

[2019-07-25 11:48] Dinaamagdy commented on #728
fixed on development_jumpscale
## Steps
- try start command on builders need  ports like caddy and redis and both works

[2019-07-25 11:48] #728 closed

[2019-07-25 11:57] waleedhammam commented on #738
working on container no-interactive doesn't work in some vms

[2019-07-25 12:29] siddiquagig commented on #621
Install, Build, Start and Stop are working now, but sandbox still has a different error now :

```JSX> j.builders.network.tcprouter.sandbox()```
[code]

[code]

[2019-07-25 13:13] waleedhammam commented on #738
fixed no interactive container at: https://github.com/threefoldtech/jumpscaleX/commit/b1558cef4931cdeb916721e2bfd20660553bacfa branch: development_jumpscale

[2019-07-25 13:14] waleedhammam commented on #738
working on no-interactive in system, on some machines needs to run configure twice

[2019-07-25 14:05] rkhamis commented on #708
Fixed openresty issues, please verify

[2019-07-25 14:12] rkhamis opened #746 "corex builder install method does not install"
Please check that the corex binary gets copied into the sandbox during install

[2019-07-25 14:12] Pishoy commented on #716
verified
 - case droplet already exist append below lines

[code]
- case create a new droplet append below lines
[code]

[2019-07-25 14:12] #716 closed

[2019-07-25 14:47] Pishoy commented on #736
fixed now
[code]

[2019-07-25 14:47] #736 closed

[2019-07-25 15:05] BolaNasr commented on #711
chatbot doc : https://github.com/threefoldtech/digitalmeX/blob/development_jumpscale/DigitalMe/servers/threebot/README.md

branch ```development_jumpscale```

[2019-07-25 15:41] Pishoy commented on #729
verified
[code]
- js version
[code]

[2019-07-25 15:41] #729 closed

[2019-07-25 16:21] waleedhammam commented on #738
fixed no interactive in system at: https://github.com/threefoldtech/jumpscaleX/commit/8052253f3bb6d46f250cb1037e18dc9f0f5b2424 branch: development_jumpscale

[2019-07-25 16:30] rkhamis commented on #683
@Dinaamagdy fixed on development_jumpscale, and development_jumpscale is merged into builders as well

[2019-07-25 16:36] ranatrk commented on #746
**command** : `j.builders.apps.corex.sandbox() ` which calls `j.builders.apps.corex.build()` then `j.builders.apps.corex.install()`

**result**: successfull with the corex bin in /sandbox/bin
![Screenshot from 2019-07-25 18-31-15](https://user-images.githubusercontent.com/17128393/61891939-0e3eab80-af0b-11e9-92b2-9741a93eb2cf.png)

[2019-07-26 09:13] rkhamis opened #747 "jumpscale installation"
Behavior **ON HOST** should be:
 - if no sshagent --> load it with the correct socket
    - if key ---> load
    - if no key -->  ask

In the config file, which key to use is specified

note: loading of key in ssh-agent and starting ssh-agent needs to be automatic

Behavior **ON CONTAINER**:
not in container because then SSH -a which means the ssh-key was forwarded

[2019-07-26 09:52] rkhamis opened #748 "ACLs"
In this storycard, we expect the behavior to be:

User ACLs:
  - properties of user:
    - threebot_id
    - email
    - pubkey
    - ipaddr
  - behavior of access:
    - Read
    - Write

Circle ACLs:
  - properties of user:
    - name
    - description
    - user_members (corresponds to users)
    - circle_members (correspondes to circles)
  - behavior of access:
    - Read
    - Write

-----

-

[2019-07-26 16:21] BolaNasr commented on #748
# Access Control List
An access-control list (ACL), with  BCDB, is a list of permissions attached to an object. An ACL specifies which users or circles are granted access to objects

## User ACLs:
  - properties of user:
    - threebot_id
    - email
    - pubkey
    - ipaddr
  - behavior of access:
    - Read (r)
    - Write (w)

## Circle ACLs (groups):
  - properties of user:
    - name
    - d

[2019-07-28 08:41] hossnys commented on #708
i found this error when i try to test again after pull latest changes |:
[code]

[2019-07-28 08:49] waleedhammam commented on #738
Following up on: https://github.com/threefoldtech/jumpscaleX/issues/747

[2019-07-28 08:49] #738 closed

[2019-07-28 08:50] waleedhammam commented on #747
Working on automatic loading ssh-agent with key if available

[2019-07-28 09:14] waleedhammam commented on #747
**Change-log**: **Commit**: https://github.com/threefoldtech/jumpscaleX/commit/93a7614c3b1646985de64a736d6e3052ff4d234a, **Branch**: development_jumpscale
- Fix ssh-agent autostart

[2019-07-28 09:53] siddiquagig commented on #748
Ran the test :

```JSX> j.data.bcdb.test("acls")```

Go the following error:

![acls](https://user-images.githubusercontent.com/25789724/62004589-19c2ea00-b138-11e9-9842-609e5bb1316b.JPG)

My code is on the latest and this is a new installation.

[code]

[code]

[2019-07-28 10:06] AhmedHanafy725 commented on #742
**Update**
**branch:** development_jumpscale
**commit:** 7229c13485c925726fb10228bf1ebebc1dd1fc03
Now there is another error when trying to get a client from zos client.
`zos_node = j.clients.zos.get(name="test_zos_node",host=host_ip,password=jwt)`
[code]

[2019-07-28 10:34] Pishoy commented on #708
- error while running test
[code]

[2019-07-28 11:03] Dina-Abd-Elrahman commented on #702
- Verified.

[2019-07-28 11:03] #702 closed

[2019-07-28 11:17] Pishoy commented on #709
- can not run test method in openrsty as below
[code]

[2019-07-28 11:20] waleedhammam commented on #747
**Change-log**: **Commit**: https://github.com/threefoldtech/jumpscaleX/commit/1fe363b21f54cc05a51935eaf336fd15145279cf, **Branch**: development_jumpscale
- Add default key to silent installation 'id_rsa'.
also can be changed from  `~/sandbox/cfg/jumpscale_config.toml` or `/sandbox/cfg/jumpscale_config.toml` according to your installation type
- Update installation docs @ https://github.com/threef

[2019-07-28 11:40] waleedhammam commented on #747
**Full installation scenario**

**ssh-agent**
1- No ssh-agent loaded
&nbsp;&nbsp;&nbsp;&nbsp; Will load ssh-agent with jsx socket path in {DIR_VAR}/sshagent_socket
2- There's an ssh-agent loaded but invalid socket
&nbsp;&nbsp;&nbsp;&nbsp;Will kill the agent and load new one with the new sockets

**ssh-keys**
1- No sshkey found in ~/.ssh
&nbsp;&nbsp;&nbsp;&nbsp;This will exit the installer with an

[2019-07-28 11:53] AhmedHanafy725 commented on #685
### jumpscaleX
branch: development_jumpscale
commit: de84017b2cfdfe0479c336a298cd386d79ee883a
### digitalmeX
branch: development_webdb
commit: https://github.com/threefoldtech/digitalmeX/commit/4b65a9b1960d349fada260b2e3428f5ae42c9076

Following docs [here](https://github.com/threefoldtech/digitalmeX/tree/development_webdb/DigitalMe/servers/gundb#running)
### Steps:
#### 1- Add schemas:
[code]
###

[2019-07-28 11:53] #685 closed

[2019-07-28 12:34] waleedhammam commented on #747
- Also added option to clone via http if ssh cloning failed at: https://github.com/threefoldtech/jumpscaleX/commit/336ed259d50da1e3e1a6f0363b9f5eebfc022715 <br/>**branch**: development_jumpscale

[2019-07-28 13:29] Pishoy commented on #747
verified all cases in `Full installation scenario`
below are the main steps are repeated on each cases
[code]
 - jsx version
[code]

[2019-07-28 13:29] #747 closed, assigned to waleedhammam, Pishoy

[2019-07-28 13:33] BolaNasr commented on #748
@siddiquagig
please check you system or your old data you have
it works good ( i have last commit)
![image](https://user-images.githubusercontent.com/10259267/62007372-f5253d00-b14c-11e9-8247-4f5e8c9d810f.png)

[2019-07-28 13:41] AhmedHanafy725 opened #749 "Use monkey.patch_all() in kosmos cmd"
Uncomment line 7,8 [here](https://github.com/threefoldtech/jumpscaleX/blob/master/cmds/kosmos) to use monkey.patch_all()

## Result:
### 1- All Builders:
 - `j.builders.db.zdb.build(reset=True)`
[code]
### 2- BCDB:
- `j.data.bcdb.test()`
[code]

### 3- sal.process
- `j.sal.process.getProcessPid("redis")`
[code]
### 4- sal.ubuntu
`j.sal.ubuntu.apt_install("vim")`

[code]

### 5- clients:
`j.clients

[2019-07-28 13:58] ranatrk commented on #656
In Traefik builder, in sandbox() , `openresty.sandbox()` is called. The error ` /sandbox/bin/resty does not exist` is because resty is added using lua builder, and so sandboxing resty should be done in lua builder instead of openresty builder.

[2019-07-28 14:10] ranatrk commented on #656
Fix in openresty: https://github.com/threefoldtech/jumpscaleX/commit/bcd69a618d68dcbd20c75228251b6f9446f616c2 **[development_jumpscale]**

command run with no error: `j.builders.web.traefik.sandbox() `

[2019-07-28 14:31] Dinaamagdy commented on #683
## STEPS
j.builders.runtimes.lua.install(reset=True) : works successfully
but
- luarocks install luacheck return the follwoing error :
[code]
then
[code]

[2019-07-28 14:33] rkhamis commented on #749
Thanks, @AhmedHanafy725

[2019-07-28 14:33] #749 closed, assigned to nobody

[2019-07-28 15:00] waleedhammam commented on #701
Now back on baseclasses docs.

[2019-07-28 15:19] siddiquagig commented on #748
Working now, Tried on a new installation again.

![acl2](https://user-images.githubusercontent.com/25789724/62009115-81932800-b16c-11e9-9474-0ec774ef5341.jpg)

[code]

[2019-07-28 15:19] #748 closed, assigned to BolaNasr, siddiquagig

[2019-07-28 18:59] Pishoy commented on #746
verified
[code]
- jsx version

[code]

[2019-07-28 18:59] #746 closed, assigned to ranatrk, Pishoy

[2019-07-29 09:15] siddiquagig commented on #323
Verified its working now:

[code]

Also got the success email:

![ready](https://user-images.githubusercontent.com/25789724/62036104-2f044b00-b202-11e9-819d-82fa8e82392c.JPG)

[code]

[2019-07-29 09:15] #323 closed

[2019-07-29 09:53] waleedhammam commented on #701
**Changelog**: **branch**: development_jumpscale; **commit**:  https://github.com/threefoldtech/jumpscaleX/commit/0c559bab3add9be22bf974ca928868240b0abdc4
JSBase first docs at: https://github.com/threefoldtech/jumpscaleX/blob/0c559bab3add9be22bf974ca928868240b0abdc4/docs/Internals/baseclasses/README_NEW.md

[2019-07-29 10:03] Pishoy commented on #686
got error when verifying it as below
[code]

[2019-07-29 10:24] #668 closed

[2019-07-29 10:59] siddiquagig commented on #656
First part verified, build, install and start are now working fine:

![traefikrana](https://user-images.githubusercontent.com/25789724/62043440-6af2dc80-b211-11e9-8c99-2f2b254f8149.JPG)

Will test the sandbox now

[2019-07-29 12:52] Pishoy commented on #652
new change is verified
[code]
a new issue is when trying to start mariadb builder is start over form beginning  to build mariadb again while it is already built , should not build again while it is already built
below are the case steps
[code]

-jsx version
[code]

[2019-07-29 13:02] waleedhammam commented on #652
Fixed stop morethan once at https://github.com/threefoldtech/jumpscaleX/commit/c39098ab9071465f4a67bb7be1682554773e0955
Branch: development_builders

[2019-07-29 13:34] Dinaamagdy commented on #737
when I install from branch exist in jumpscale ,it return the following error  as it can't checkout from this brnach in digital me
[code]

[2019-07-29 13:39] waleedhammam commented on #737
Will checkout the passed parameter, if it's not available on digitalme will checkout development_jumpscale. commit: https://github.com/threefoldtech/jumpscaleX/commit/61d8182b39eb4ce9a10ecd8c0c88213a50637193

[2019-07-29 14:32] GlenDC opened #753 "How to subscribe to a config updates in classes that implement JSConfig/JSConfigs base class?"
It is not clear for me as a JSX power-user, how to ensure that a class I develop myself can be made aware for any config update. What I mean is that the (public, config-based) properties for such a class would be managed by the JSConfig/JSConfigs base class.

Now on init time this is not an issue I guess, as I can create some specific state object based on the initial data as configured at that ti

[2019-07-29 15:09] zaibon commented on #753
I think this exists and is called `_update_trigger` I used it in the zero-os client:
https://github.com/threefoldtech/jumpscaleX/blob/5fb073a82aeb0e66fc7d9660c45a1e31bc094bfa/Jumpscale/clients/zero_os/ZeroOSClient.py#L33-L43

As far as I understood it's a function you can create on an object that inherits `j.application.JSBaseConfigClass`

[2019-07-29 15:12] GlenDC commented on #753
I see. That seems simple enough. Does it only react for updates to properties defined in the class config?

[2019-07-29 15:25] Dinaamagdy commented on #737
verified using developmemnt_builders branch
- interactive:insystem/docker

[2019-07-29 15:25] #737 closed

[2019-07-29 15:52] Pishoy commented on #656
snadbox is verified and flist was uploaded and i create a container by the generated flist, then i checked the binary inside created container as below  and was working
[code]

- jsx version
[code]

[2019-07-29 15:52] #656 closed

[2019-07-29 16:14] waleedhammam commented on #652
add stop command: https://github.com/threefoldtech/jumpscaleX/commit/b264bc668f39e049013ffb4a3590b69bb77290cb
branch: development_builders

[2019-07-29 16:23] ranatrk commented on #699
`j.tools.sandboxer.libs_sandbox(src, dest)` currently doesn't work as expected, looking into it. It is used to get the missing libs that all bin files need.

[2019-07-29 16:28] Pishoy commented on #652
stop and start methods are working successfully
- jsx version
[code]

[2019-07-29 16:28] #652 closed

[2019-07-30 07:24] siddiquagig commented on #621
Verified
```JSX> j.builders.network.tcprouter.sandbox()```

![tcp router sandbox](https://user-images.githubusercontent.com/25789724/62106477-59afdb80-b2b6-11e9-8383-c57fdc974035.JPG)

[code]

[2019-07-30 07:24] #621 closed

[2019-07-30 09:33] waleedhammam commented on #701
**Changelog**
**Branch**: development_jumpscale; **Commit**: https://github.com/threefoldtech/jumpscaleX/commit/b7ba69271f515d109f732cb3b8393db435e9d886
- Add JSAttr, JSFactoryConfig, JSConfigs classes docs @ https://github.com/threefoldtech/jumpscaleX/blob/development_jumpscale/docs/Internals/baseclasses/README_NEW.md

**Currently**
- Working on JSConfig class

[2019-07-30 12:39] waleedhammam commented on #701
**Changelog**
**Branch**: development_jumpscale; **Commit**: https://github.com/threefoldtech/jumpscaleX/commit/2abbbb889077146af30df628222653b46e6a02d6
- docs @ https://github.com/threefoldtech/jumpscaleX/blob/development_jumpscale/docs/Internals/baseclasses/README_NEW.md

[2019-07-30 12:40] waleedhammam commented on #701
Builders docs at: https://github.com/threefoldtech/jumpscaleX/blob/development_jumpscale/Jumpscale/builders/README.md

[2019-07-31 08:19] AhmedHanafy725 opened #755 "zeroCI: Test Runner front-end"
After running the tests on zeroCI, results need to have a good view.
#### We have 2 scenarios for running tests:
1- Run tests for every commit on a branch for a repo.
2- Run testsuite for a specific project like `Builders` should be run nightly.

#### Tests Result types:
1- Tests that use JUnit should have the status and result for every testcase.
2- Tests that not use JUnit should have the overal

[2019-07-31 09:12] ranatrk commented on #699
Blocked as` j.tools.sandboxer.ldd()` doesn't work as expected, and it is used in `j.tools.sandboxer.libs_sandbox(src, dest) `. Looking into into it

[2019-07-31 09:31] rkhamis commented on #708
Verified

[2019-07-31 12:18] ranatrk commented on #699
Fix for ldd in expression check: https://github.com/threefoldtech/jumpscaleX/commit/2b3bd2e5ae310dcb924ad3e6726a4aad2670ffbb

[2019-07-31 14:27] despiegk commented on #588
problem is no longer there has been resolved

[2019-07-31 14:27] #588 closed

[2019-07-31 15:09] ranatrk commented on #699
Fix sandbox : https://github.com/threefoldtech/jumpscaleX/commit/303c8f12c76e08bcaf4a5bb79a0574a38bae3ee5

[2019-07-31 16:11] hossnys commented on #708
i found this error again when testing openresty :
[code]

and after adding this line
[code]
after line 32 in file :  /sandbox/code/github/threefoldtech/jumpscaleX/Jumpscale/servers/corex/CorexServer.py  as recommended by @waleedhammam  the test passed successfully.

[2019-08-01 06:40] zaibon commented on #753
I don't really know, sorry :-/

[2019-08-01 06:55] GlenDC commented on #753
No worries. Not important.  I think my question got answered. Thank you. Going to close this for now.

@rkhamis if this isn't part of the documentation yet, it might be useful to somehow add this in the right location. What this issue is concerned however, I considered it resolved.

Thank you @zaibon!

[2019-08-01 06:55] #753 closed, assigned to nobody

[2019-08-01 09:03] GlenDC opened #756 "how to run a group of tests for a kind of base client"
In the current version of JSX we have a single blockchain client, all available under `j.clients.tfchain`. As we'll have other Rivine-based chains as well (we already have 1, the goldchain, and will soon have 2 more on top of it), it is needed to easily provide different JSX blockchain clients, without copying that code around for all these clients, as that would result in an unmaintainable mess.

[2019-08-01 10:16] 0xIslamTaha commented on #756
As I can see that there is a bug in `clients.x.test()` according to latest changs in baseClasses. Here is an example of the bug.
[code]

I'm investigating to fix this bug as it is infecting all clients but for you can do this hack to make your test run

[code]

and make your TFRivineClientFactory.py inherit from it too.

[2019-08-01 11:04] waleedhammam opened #757 "flist for threebot"
generate an flist for 3bot server

[2019-08-02 11:34] BolaNasr commented on #709
```j.builders.web.openresty.install(reset=True)```
![image](https://user-images.githubusercontent.com/10259267/62365207-ce3b8200-b523-11e9-8bf7-c18897f31afe.png)

```j.builders.web.openresty.test()```
![image](https://user-images.githubusercontent.com/10259267/62367511-2ecdbd80-b52a-11e9-9eab-f30bdd731644.png)

[2019-08-04 09:05] waleedhammam commented on #757
Implemented build, install, sandbox. Still working on the startup toml

[2019-08-04 12:23] waleedhammam commented on #757
fix at lua builder in sandbox: https://github.com/threefoldtech/jumpscaleX/commit/890e6db052de86efdbd03ead19985edb0a749fe2

[2019-08-04 12:40] waleedhammam commented on #757
add sonic sandbox: https://github.com/threefoldtech/jumpscaleX/commit/6421bd77307ff3d8c7cdd48be157723e00469714

[2019-08-04 14:41] Dinaamagdy commented on #742
have same error like ahmed
could not find attribute:client in zeroosclient
[code]

[2019-08-04 16:36] waleedhammam commented on #757
add threebot builder at: https://github.com/threefoldtech/jumpscaleX/commit/fc9d3ecd84cb33876c8e5985e5f0ed53253de348
flist at: https://hub.grid.tf/hammam/threebot.flist.md
still working on the flist fixes

[2019-08-04 22:07] 0xIslamTaha opened #758 "jsx tests run errors"
**1- j.clients.tfchain.test()**
[code]

**2- JSX> j.clients.redis.test()**
[code]

[2019-08-05 07:00] #744 closed

[2019-08-05 07:58] 0xIslamTaha opened #759 "most of jsx servers raise errors"
1-
[code]

2-
[code]

3-
[code]

4-
[code]

5-
[code]

6-
[code]

7-
[code]

8-
[code]

9-
[code]

10-
[code]

11-
[code]

**Env**
[code]

[2019-08-05 09:51] samaradel commented on #755
UI and data almost did, working on dynamic routes

[2019-08-05 10:17] Dinaamagdy opened #760 "Can't get schema text in zhub client"
-Try to get schema test of client class but it doesn't exist
[code]

[2019-08-05 10:17] 0xIslamTaha opened #761 "Testing: JSx Servers"
**Description**
We need to test different functions under Jumpscale/servers/X to make sure that it is working as expected.

**Steps to accomplish the task**
- Gather all the requirements for each server and list them in the traceability matrix.
- Design the test cases according to those requirements and report them in TestQuality
- Execute the test cases and report different bugs (Manual execution

[2019-08-05 11:06] Dina-Abd-Elrahman commented on #715
- this is the updated ` requirement tractability matrix ` with all test cases and links for it

https://github.com/threefoldtech/jumpscaleX/blob/development_jumpscale_testing/install/tests/README.md#test-cases-requirement-traceability-matrix

we can close it now as we have 100% coverage

[2019-08-05 13:46] 0xIslamTaha opened #762 "missing peewee in installtion"
[code]

[2019-08-05 16:54] ranatrk commented on #759
https://github.com/threefoldtech/jumpscaleX/commit/1b8344e846339a8c5bd5f2b19d2bb8688b98bba1
1. **(fixed)** ` j.servers.corex.default.start() `
2. ` j.servers.mail_forwarder.get(......).start()`
3. do  `pip3 install errbot`
4. **(fixed)** `  j.servers.etcd.start() `
5. `pip3 install flask flask_sockets`
6. `j.servers.gedis_websocket.get("test").start() `
7. **(fixed)**`  j.servers.odoo.get("test_od

[2019-08-06 08:21] Dina-Abd-Elrahman commented on #717
- we don't use ssh key in encrypting private key any more, now we use a secret only.

[2019-08-06 10:23] 0xIslamTaha commented on #761
https://github.com/threefoldtech/jumpscaleX/issues/759

[2019-08-06 12:10] Pishoy commented on #699
verified
generated flist by mariadb sandbox is working well

[2019-08-06 12:10] #699 closed

[2019-08-06 16:21] waleedhammam commented on #742
resolved at https://github.com/threefoldtech/jumpscaleX/commit/aac15ad2c53ee669aae35b4c1dfb0b684450ce14

[2019-08-07 10:39] waleedhammam commented on #757
add flist tweeks: https://github.com/threefoldtech/jumpscaleX/commit/30b7699a0636cbb590d133bdc5ca2372130f8a76

[2019-08-07 11:40] Dinaamagdy commented on #759
capacity server
[code]

[2019-08-07 13:51] Dina-Abd-Elrahman opened #765 "error in import data in BCDB"
I got an error while trying to import data in BCDB.

![ff](https://user-images.githubusercontent.com/21218053/62623664-b8fa9500-b921-11e9-9406-140a8e7f7c14.png)

[2019-08-07 14:36] BolaNasr commented on #765
can please pull
and write ```jsx bcdb-delete```
then try again  in the ```development_jumpscale_logging_errors``` branch

[2019-08-07 14:49] Dina-Abd-Elrahman commented on #765
- this issue is solved now after pull the latest changes, but i got this error once i login from kosmos and try to login again

![ff](https://user-images.githubusercontent.com/21218053/62632716-3b3f8500-b933-11e9-87db-203e6c89aa24.png)

[2019-08-07 14:51] Dina-Abd-Elrahman commented on #765
- also i got the same error while trying to remove the database using this command
`jsx bcdb-delete`

[2019-08-07 14:52] Dina-Abd-Elrahman commented on #765
#### Branch: `development_jumpscale_logging_errors`
##### Commit_ID: 4f215a52ce9dcc6826befb2d516ea6a8045cf67c

[2019-08-07 17:22] ranatrk commented on #759
https://github.com/threefoldtech/jumpscaleX/commit/1b4fff37461cdf869ff419baf19328011c50be18
- etcd server : If etcd wasn't installed, no error is raised in shell but instead raised in tmux session. Added check to raise error when start/stop server in case it wasnt installed

- corex server: (issue with @Dinaamagdy) peewee not installed on new installations as docker image was created with an older

[2019-08-07 17:24] ranatrk commented on #759
- [ ]
- [ ]
- [ ]
- [ ]

[2019-08-07 17:25] ranatrk commented on #759
- [x] corex
- [x] mail_forwarder
- [ ] errbot
- [ ] etcd
- [ ] flask
- [x] gedis_websocket
- [x] odoo
- [ ] sanic
- [ ] sockexec
- [x] tmux
- [x] zdb
- [ ] capacity

[2019-08-08 07:46] waleedhammam commented on #757
fixed jsx autobuilder at: https://github.com/threefoldtech/jumpscaleX/commit/cadbacf930abed80860504fc848661303a67c3d9 https://github.com/threefoldtech/jumpscaleX/commit/6017d90b6de9a637ca2469da8bd15a2ceece3818  https://github.com/threefoldtech/jumpscaleX/commit/cf05b8238e1011704271ab0b323e5fb18d517c12  https://github.com/threefoldtech/jumpscaleX/commit/ba631ba956c4bb83ebd150aa84b8c1769aa0aece

[2019-08-08 08:05] Pishoy commented on #709
still am getting error with development_jumpscale branch
steps :
[code]
- error as attached screenshot
![image](https://user-images.githubusercontent.com/21987477/62685937-f4e63680-b9c3-11e9-9f04-95563ca92bd1.png)

- jsx version
[code]

[2019-08-08 08:24] Pishoy commented on #759
1,2 are started successfully
4- etcd is working but when check tmux is giving error
[code]
6 - gedis_webscoket started after i used `j.servers.openresty.test() `
7 - works j.servers.odoo.get("test_odoo").start()`

10- works
11 - run successfully but need to build zdb first
[code]

[2019-08-08 16:35] waleedhammam commented on #757
3bot builder at: https://github.com/threefoldtech/jumpscaleX/blob/development_jumpscale/Jumpscale/builders/apps/BuilderThreebot.py
generate flist at: https://hub.grid.tf/hammam/threebot_dev.flist, note you should wait for the flist to be deployed correctly, once it's done you have a ready 3bot container.
working on more tests for the flist and performance improvment

[2019-08-09 10:03] zaibon opened #766 "nothing is written exception when pasting code inside kosmos"
I often get the following error when I'm playing inside kosmos.
It gets trigger when I past a piece of code in the shell and press enter. The error is raised, but it seems the code is still executed.

[code]

[2019-08-14 07:38] #711 closed

[2019-08-14 07:38] #710 closed

[2019-08-14 07:39] #708 closed

[2019-08-14 07:39] #709 closed

[2019-08-14 07:40] despiegk opened #767 "SCHEMA, BASETYPES & BCDB tests"
make sure they all work

[2019-08-14 07:46] despiegk opened #768 "Digital Ocean test script which runs in parallel for JSX 10.0.1"
- start from existing config manager DO client
- deploy machine builder

...

see https://docs.grid.tf/threefold/itenv_web_v2/issues/2

[2019-08-14 07:47] despiegk opened #769 "myjobs tests & hardening"
please check the tests and make sure all is working

[2019-08-14 07:48] despiegk opened #770 "merge everything on development branch NOW"
before we do all other tasks, so Kristof can easily check what hasbeen done on development_ jumpscale

for digitalme and jupscale

[2019-08-14 07:49] despiegk opened #771 "minimal documentation about ThreeBot server and how to use as SDK"
- see packages
- see how to start
- see how to connect actor client
- ...

[2019-08-14 07:55] despiegk opened #772 "all HTTP(S) traffic needs to be converted on NGINX level !!! from enduser perspective"
dont do http(s) traffic for customers directly on threebot server

the nginx is the layer in between

- does https to http
- does letsencrypt
- does $somethong/$aname to localhost:$aport

we need to make sure all following over nginx

- websockets work that way (can be websockets in gevent loop but the nginx as proxy)
- chat bot
- wiki (proxied)

this means gevent loop in threebot server only need

[2019-08-14 07:56] despiegk commented on #772
check all existing usecases that it works like this

[2019-08-14 07:57] despiegk commented on #772
remove ssl from gevent loop
ssl maybe on gedis server (to be discussed) because that one is no HTTP

[2019-08-14 07:59] despiegk opened #773 "example how to use GUNJS layer"
- over nginx as proxy
- how to query objects from BCDB when user has full access
- do simple example with Svelte for a grid

[2019-08-14 07:59] despiegk commented on #773
please give full blown tutorial to jimber guys so they can start using a 3bot
also show how to use actor client

[2019-08-14 08:00] despiegk opened #774 "Myjobs visualizer using svelte and actors"
create myjobs visualizer like https://flower.readthedocs.io/en/latest/screenshots.html using svelte and actors

- [x] UI (svelte) https://github.com/threefoldtech/jumpscaleX/issues/804
- [x] Actors (DigitalMe package) https://github.com/threefoldtech/jumpscaleX/issues/805

[2019-08-14 09:07] zgorizzo69 commented on #765
I am closing this because it is working on development_jumpscale
![bcdb export ok](https://user-images.githubusercontent.com/16853695/63008840-adf4b700-be83-11e9-909f-1ae47fc96cce.png)

[2019-08-14 09:07] #765 closed, assigned to BolaNasr, Dina-Abd-Elrahman

[2019-08-14 10:07] serboctor commented on #687
Rafy is working on it, but he is not in the organization yet so I can't assign it to him.

[2019-08-14 14:21] serboctor commented on #770
@despiegk I created PRs for both repos but it's blocked on your approval.

[2019-08-15 12:05] abom commented on #769
Getting this exception when doing `kosmos "j.servers.myjobs.test_samlple()"` (from logging)

Started the server by:

`kosmos -p j.servers.myjobs.start()`

Branch: development_jumpscale

[code]

[2019-08-18 08:05] despiegk commented on #774
example:
- show jobs from myjobs from an actor on the server in a html5 page using svelte

[2019-08-18 08:10] despiegk opened #776 "js_init generate needs to work multilevel"
now only j.something.class...

needs to be able any level as specified in __jslocation__

this will allow us to not have to do manual build of the tree like in builders

[2019-08-18 08:31] despiegk commented on #680
needs to be proper JSX client

[2019-08-18 08:33] despiegk opened #777 "flist manipulation SAL in JSX"
a sal in JSX 10 to manipulate flists

- edit file
- move/delete/... file/dir

...

need to do live cycle management of apps in flist

maxim has the code done, we need to bind his C code to python to JSX

[2019-08-18 08:34] despiegk opened #778 "flist/hub mounter"
- mount flist and get files from specified hub

## requirements

- document how to build/use/start a hub
- document how to build an app and push to hub
- now in ubuntu mount this flist so the result of the build can be seen

the mounting component = is the fuse golang component

- will need sal for the golang component to mount flist...

[2019-08-18 08:45] despiegk commented on #630
check with Kristof

[2019-08-18 09:00] despiegk opened #779 "script: clean all VM's on DO"
and execute so we get rid of the VM's

[2019-08-18 09:02] despiegk commented on #627
should be all there but some refactoring required because of work on BCDB

[2019-08-18 09:04] despiegk opened #780 "fix redis server on BCDB"
- prob some rework because of BCDB refactor
- use RDM
- create documentation

[2019-08-18 09:05] despiegk commented on #51
we need a proper JSX client who hides all of this complexity, whatever we need to make this userfiendly needs to be done

[2019-08-18 09:07] #695 closed

[2019-08-18 09:10] despiegk opened #781 "3bot wireguard network"
- let 3bots in development mode speak over wireguard

[2019-08-18 09:11] despiegk opened #782 "3bot registration client"
- let people register their 3bot on the public BCDB
- let people update their 3bot registration info

[2019-08-18 09:13] despiegk opened #783 "3bot client using 3bot phonebook"
- use pub/priv key encryption to let 3bots talk to each other using generic client

[2019-08-18 09:13] despiegk opened #784 "BCDB public interface"
- let anyonw use the BCDB as generic blockchain for setting/getting info

[2019-08-18 10:26] serboctor commented on #770
Everything is now merged to development.

[2019-08-18 10:26] #770 closed, assigned to serboctor

[2019-08-18 10:35] muhamadazmy commented on #577
The python client for 0-stor daemon is  available here https://github.com/threefoldtech/0-stor/tree/master/daemon/client/py-client.

A Jumpscale client must be implemented that leverage on this client.

[2019-08-18 10:46] muhamadazmy commented on #777
@maxux What is the status of this https://github.com/threefoldtech/0-flist#pyflist ? the python binding for the flister and if we can start using it in jsx already.

[2019-08-18 10:48] muhamadazmy commented on #680
Duplicate of #577

[2019-08-18 11:13] Pishoy commented on #742
verified
![image](https://user-images.githubusercontent.com/21987477/63223671-d3522f80-c1b9-11e9-971f-715c90496199.png)

- js version
[code]

[2019-08-18 11:13] #742 closed

[2019-08-18 13:52] ranatrk commented on #768
current status in issue :https://docs.grid.tf/threefold/itenv_web_v2/issues/2
waiting for feedback from @despiegk  to resume working on issue and testing on digital oceam.

[2019-08-18 14:28] #577 closed

[2019-08-18 14:40] zaibon commented on #778
Requirements are not clear at all and from what I can tell we are mixing things. But from what I can decrypt of what is asked here. There are 2 components that are related to this issue:
- 0-Hub: https://github.com/threefoldtech/0-hub/
- 0-fs: https://github.com/threefoldtech/0-fs

Regarding 0-Hub, do want anyone to be able to deploy it's own Hub (@despiegk please confirm this)
If that indeed what

[2019-08-18 14:42] zaibon commented on #777
Progress about flist tooling can be followed at: https://github.com/threefoldtech/0-flist/issues/13

[2019-08-18 14:50] Dinaamagdy commented on #759
zdb and mail_fowarder give me he following error now
[code]

[2019-08-18 14:54] Pishoy commented on #757
Am facing this error while testing theebot as below
[code]
- js version
[code]

[2019-08-18 16:25] serboctor opened #786 "Create client for nbh vertex backend api"
Calls need to be covered are listed here https://docs.google.com/document/d/1pgBMoOjGRnNYIj4j7Xtq8XKqk1KrDCvTshODedSXjgc/edit#heading=h.a0fgutkov2u5

[2019-08-19 07:14] waleedhammam commented on #776
Still investigating the optimal way to generate all without a factory

[2019-08-19 09:12] Hamdy opened #787 "file manager backend in BCDB & gevent"

[2019-08-19 09:14] zgorizzo69 commented on #780
as it is using vfs heavily I will first refactor vfs and then I will fix the redis server

[2019-08-19 09:20] maxux commented on #777
Progression about python binding: https://github.com/threefoldtech/0-flist/issues/15

[2019-08-19 09:32] zgorizzo69 commented on #767
linked to https://github.com/threefoldtech/jumpscaleX/issues/780 and https://github.com/threefoldtech/jumpscaleX/issues/627

[2019-08-19 09:43] abom commented on #769
Part of #646.

[2019-08-19 09:43] #769 closed, assigned to abom

[2019-08-19 09:44] serboctor commented on #779
@despiegk you cleaned up all the VMs yesterday so I am assuming this can be closed.

[2019-08-19 09:44] #779 closed, assigned to despiegk

[2019-08-19 09:45] serboctor commented on #596
@despiegk what's the status of this?

[2019-08-19 09:47] serboctor commented on #247
@despiegk are you working on this? shouldnt this be part of the other bcdb tasks?

[2019-08-19 09:57] andrewayoub commented on #771
it's not clear to me how can threebot be used as sdk, afaik it's a server that has some packages running and each package is a combination of servers and actors,

what does this mean ?

[2019-08-19 13:25] Dinaamagdy commented on #759
- etcd server
install/check /delete methods :missing

[2019-08-19 13:37] Dinaamagdy commented on #759
- tmux server:
         - install, start, stop: missing
         - session : not clear at all as is there session inside servers j.tmux.servers

[2019-08-19 14:02] muhamadazmy commented on #51
I think there is a big confusion here, there are 2 possible clients to 0-hub:
- Client that consumes the REST api of the hub as defined here (https://github.com/threefoldtech/0-hub#getting-information-through-api).
- Client that works against the data backend (RESP) to set/get file data chunks. This is the 0-hub-gw thingy.

The question is, which client is required by this issue? Or both?

@zaibon

[2019-08-19 14:29] Dinaamagdy commented on #759
odoo server:
### start
[code]
### missing check option

[2019-08-19 15:52] maxux commented on #777
@BolaNasr found some non-working feature on `zflist`, I'm fixing that first

[2019-08-20 07:50] zaibon commented on #774
@xmonader We are also kinda blocked on that for out work on the cockpit (https://github.com/threefoldtech/tf_cockpit/issues/4), so if we could prioritize this documentation effort that would be lovely.

[2019-08-20 08:32] 0xIslamTaha opened #790 "Testing: App builders"
**Description**
We need to test different functions under Jumpscale/builders/apps to make sure that it is working as expected.

**Steps to accomplish the task**
- Gather all the requirements for each builder and list them in the traceability matrix.
- Design the test cases according to those requirements and report them in TestQuality
- Execute the test cases and report different bugs (Manual exec

[2019-08-20 08:36] Dinaamagdy commented on #759
- sanic server
 missing check method
 - sonic server
missing check and install methods

[2019-08-20 08:38] AhmedHanafy725 commented on #718
Waiting for BCDB refactor to be complete to start testing it.

[2019-08-20 08:41] Dinaamagdy commented on #759
- startupcmd server
  - start method

[code]

[2019-08-20 09:50] 0xIslamTaha opened #791 "Testing: SAL"
**Description**
We need to test different functions under Jumpscale/sal to make sure that it is working as expected.

**Steps to accomplish the task**
- Gather all the requirements for each SAL and list them in the traceability matrix.
- Design the test cases according to those requirements and report them in TestQuality
- Execute the test cases and report different bugs (Manual execution)
- Autom

[2019-08-20 11:34] Dinaamagdy commented on #759
-   capacity server
return the following error
[code]
and I can see that code of it has only start option
https://github.com/threefoldtech/jumpscaleX/blob/development_jumpscale/Jumpscale/servers/grid_capacity/CapacityFactory.py

[2019-08-20 11:39] Dinaamagdy commented on #759
- flask  server
[code]

[2019-08-20 12:19] despiegk opened #792 "test unique data fails bcdb"

[2019-08-20 12:20] despiegk opened #793 "export/import needs to be tested/verified bcdb"

[2019-08-20 12:21] despiegk opened #794 "VFS bcdb & redis BCDB"

[2019-08-20 12:21] despiegk commented on #794
also check kosmos 'j.data.bcdb.test(name="redis_index_lost")'

[2019-08-20 12:22] despiegk opened #795 "bug in sonic somewhere"
![image](https://user-images.githubusercontent.com/6021844/63346740-f3b6f100-c355-11e9-9d18-0b401e193e3b.png)

[2019-08-20 12:30] despiegk commented on #795
![image](https://user-images.githubusercontent.com/6021844/63347205-f239f880-c356-11e9-8d49-757f8b73557b.png)

j.tools.markdowndocs.load_wikis()

[2019-08-20 13:10] Dinaamagdy commented on #759
- errbot server
server doesn't have install  or stop methods or get to get its client
and start
[code]

[2019-08-20 13:14] abom commented on #646
**Branches**:
_JumpscaleX_: `jumpscale_development`
_DigitalmeX_: `jumpscale_jumpscale_myjobs`

Now after some fixes related to timeout, the following tests run successfully:

* `kosmos -p "j.servers.myjobs.test('basic')"`
* `kosmos -p "j.servers.myjobs.test('simple_error')"`
* `kosmos -p "j.servers.myjobs.test1()"`
* `kosmos -p "j.servers.myjobs.test4()"`

All of them use `worker_start()`, `worke

[2019-08-20 13:15] Dinaamagdy commented on #759
- gedis_websocket
[code]

[2019-08-20 13:24] abom commented on #646
It seems like `start()` still has some problems, maybe it doesn't spawn enough workers or when running the worker in a different process it works, but not in the same process.

[2019-08-20 13:27] abom commented on #646
Also, there's some confusion here about the ways of how starting myjobs server, we need to know what's the difference between start() and workers_start() in myjobs (some tests use the first one and others use the later).

What's the standard way of starting this server? so we follow it when doing the tests, also when using it.

[2019-08-20 13:27] Dinaamagdy commented on #759
- sockexec
install doesn't work and can't get server client with get
[code]

[2019-08-20 14:03] despiegk commented on #767
now separate tests

[2019-08-20 14:03] #767 closed, assigned to zgorizzo69

[2019-08-20 14:04] #247 closed

[2019-08-20 14:30] despiegk commented on #596
done

[code]

[code]

[2019-08-20 14:31] despiegk commented on #768
ee also #596

[2019-08-20 14:33] xmonader commented on #795
sure you have the latest sonic? `pip install -U sonic-client`

[2019-08-20 14:58] ranatrk commented on #680
- Created a clone of the python client files in zstor in jsx zstor client directory
- Added a wrapper using jsx configuration to use the zstor client
https://github.com/threefoldtech/jumpscaleX/commit/978990afe3c20cda471d0f10f942fcbc1c1b79e7

Accessible through `j.clients.zstor` and takes the following params:
- __name__ : name of the client instance to be created
- __ip__ : IP address of the daem

[2019-08-20 15:55] zgorizzo69 commented on #794
VFS done

[2019-08-20 18:12] delandtj commented on #596
**NOTE: I deleted the DO token (JS_TOKEN) and created a new one!###**

[2019-08-20 18:42] zgorizzo69 commented on #794
I close this one because I have another ticket #780 for the redis specific test

[2019-08-20 18:42] #794 closed, assigned to zgorizzo69

[2019-08-20 18:45] zgorizzo69 commented on #792
seems like index was not cleaned from cache after delete()
![image](https://user-images.githubusercontent.com/16853695/63375121-74dcab00-c38b-11e9-952a-0098ed212d86.png)

[2019-08-21 07:20] #596 closed

[2019-08-21 07:40] xmonader opened #796 "provide tool for registering service on tcprouter and coredns"
review and check https://github.com/threefoldtech/tf_gateway

- creating coreDNS record on redis (coredns redis plugin)
- creating tcp service record on tcprouter

# usage example

- `j.tools.tf_gateway.domain_register`
- `j.tools.tf_gateway.tcpservice_register`

https://github.com/threefoldtech/tf_gateway#scripts-directory

[2019-08-21 08:03] zgorizzo69 commented on #793
test bcdb export is passing

[2019-08-21 08:03] #793 closed, assigned to zgorizzo69

[2019-08-21 09:19] zgorizzo69 commented on #792
https://github.com/threefoldtech/jumpscaleX/pull/797

[2019-08-21 10:20] Dina-Abd-Elrahman opened #798 "command to generate seed words"
- is this normal that we can use this command  `j.data.nacl.default.words` to generate seed words, without encryption.

[2019-08-21 11:18] zaibon commented on #798
This Question refers to this method: https://github.com/threefoldtech/jumpscaleX/blob/098f1d03aecdadc8d7f0bf50f4caa3c1d99fc463/Jumpscale/data/nacl/NACL.py#L109-L118

@Dina-Abd-Elrahman What behavior would you expect instead ?

[2019-08-21 11:33] LeeSmet opened #799 "Container installer not interactive fails"
Steps to reproduce:

On a fresh (linux) machine (prior installation fully removed), try installing jumpscale using the following script, based on  [the instructions provided here](https://github.com/threefoldtech/jumpscaleX/blob/development_jumpscale/docs/Installation/README.md):

[code]

above was done on branch `development_jumpscale`, also tried `development` by changing the URL to retrieve the

[2019-08-21 12:13] Dina-Abd-Elrahman commented on #798
I expect to be saved encrypted somewhere, or at least it asked me for password or key to show it. when I was installing JSX before it mentioned to save this sentence somewhere as you cannot get it again, is it normal now to find command to get it ?

[2019-08-21 12:29] Dina-Abd-Elrahman opened #800 "error in freeeflow builder"
- error while trying to build freeflow builder.

![error](https://user-images.githubusercontent.com/21218053/63431831-11e92380-c420-11e9-9698-a76acb815f7a.png)

[2019-08-21 12:30] Dina-Abd-Elrahman commented on #800
### Branch: `development_jumpscale`
### commit_ID: 68c20ded6d2138e2025d7bbfd901ce1599e2b0d0

[2019-08-21 12:31] zaibon commented on #798
Well I'm not sure how things were done before. But we have always saved the key on the filesystem. The key is indeed encrypted with or a passphrase or using the SSH key. But in both case we can always load the key from the filesystem.
And once you have the key, you can get it's seed, always.

The code in NACL module was very very cumbersome and contain quite some errors. I recently did some cleanu

[2019-08-21 12:32] zaibon commented on #798
We ask user to write it down, cause in case of filesystem error, and the key is lost/unreadable. Then you can re-install and give the same mnemonic works to generate the same key you previously had. This is indeed required since everything in BCDB is encrypted using this key, so if you didn't wrote it down, there is now no way for you to recover your data.

[2019-08-21 12:55] zgorizzo69 commented on #780
fixed redis bcdb test (which launch a redis server)

[2019-08-21 12:55] #780 closed, assigned to zgorizzo69

[2019-08-21 13:13] Dina-Abd-Elrahman opened #801 "error in cmake builder"
- cannot build cmake builder,

![error](https://user-images.githubusercontent.com/21218053/63434876-2defc380-c426-11e9-988a-ccf3fdcef6df.png)

### Branch: `development_jumpscale`
### Commit_ID: cc60b9fce6d33c0d8f4df27708352515727bf389

[2019-08-21 13:38] serboctor commented on #786
Client code is currently on branch `development_nbh`, covering the following vertex endpoints:
- BackofficeLogin
- ChangePassword
- CreateClient
- GetClientByID
- UpdateClientInfo
- CreateAccount
- GetAccountByID
- GetClientsIDs
- GetAccountsIDs
- AccountInfoReport
- AccountStatusReport
- GetAccountStmt
- NewPosition
- ClosePosition
- DetailedOpenPositionsReport
- GetMWSymbols
- GetMWNewTick

[2019-08-21 13:39] AhmedHanafy725 commented on #791
bash moved to tools so it will be tested in tools.
Start working on fs.

[2019-08-21 14:11] BolaNasr commented on #777
now we have flist manipulation
[code]

and we have builder of zflist to install zflist bin
[code]

[2019-08-21 14:34] zgorizzo69 commented on #627
simple test works again
I have added and commented (as it is not working yet) more test like modifiying deleting and adding data through webdav

[2019-08-21 15:56] xmonader opened #802 "Review coredns builder"
- use redis config only
- make sure it builds
- make sure to disable systemd-resolved service

[2019-08-22 08:33] muhamadazmy commented on #777
@BolaNasr do u have a PR open, i need to take a look at the code

[2019-08-22 09:11] xmonader commented on #796
implemented https://github.com/threefoldtech/jumpscaleX/commit/7f65ccb21636749bd3a17dbf5e60eacc4b11d12b
and enhanced here
https://github.com/threefoldtech/jumpscaleX/commit/6e69a426a07ac71338318e9cecd9a6e80993322b

[2019-08-22 09:14] xmonader commented on #773
We ported the changes in BCDB to the gunserver, now it's blocked on the stability of BCDB
currently working on:
- todo application
- simple blog

[2019-08-22 09:17] Hamdy commented on #772
added support for tcp, websocket reverse proxies
now nginx can serve (http, tcp, websocket) protocols
added reverse proxies in threebot for the different kinds of servers we are having

[2019-08-22 09:28] Hamdy opened #803 "inconsistent behavior for jumpscale python installation"
**The following code works fine on my host machine (no jumpscale) python 3.6.7**

[code]

**The same code does not work on jumpscale on python3, ptpython , nor kosmos**

[code]

**why this is important? because it affects calling `j.servers.myjobs.schedule` from kosmos**

[code]

[2019-08-22 09:30] xmonader opened #804 "Svelte UI visualizer"
Create a job visualizer app with

- listing workers
- listing tasks
- filtering on success/failure for workers
- filtering on success/failure for tasks

Along with documentation on covering the following
- Creating/initializing the application
- Creating components
- Routing
- Interaction with websockets (gedis websocket client)

[2019-08-22 09:33] xmonader opened #805 "MyJobs package"
Create myjobs package with the following requirements

- Collecting workers information from BCDB (workers_list)
- Collecting tasks information from BCDB (jobs_list)
   - the json return should also embed (action name, action args, action kwargs)

Documentation
- How to create the package
- How to register the website on threebot
- How to create the actor and how to communicate with BCDB models an

[2019-08-22 09:36] xmonader opened #806 "Use Reconnecting Websockets for gedis"
Make sure to use a reconnecting websocket for all gedis based frontends so you don't end up in something like `CLOSED` or `CLOSING` states

[2019-08-22 09:47] 0xIslamTaha commented on #715
I can see that there are more options in installation we did not cover, for now, I can see that `container-install` still have options to be done.

[code]

[2019-08-22 10:06] serboctor commented on #795
Not reproducible.

[2019-08-22 10:06] #795 closed, assigned to andrewayoub

[2019-08-22 10:23] Pishoy commented on #680
verified
[code]
- in new session
[code]
- js version
[code]

[2019-08-22 10:23] #680 closed

[2019-08-22 10:40] xmonader opened #808 "MVP for threebot server"
- Core functionality
   - [ ] Registering packages
   - [ ] OpenResty configurations
      - [ ] Websites
      - [ ] Wikis
      - [ ] Static Assets
      - [ ] HTTP Proxies
      - [ ] TCP Proxies

   - [ ] Rack functionality

- Packages functionality
  - [ ] websites registration (static)
  - [ ] chatflows registration
  - [ ] wikis registration
  - [ ] Actors registration
  - [ ] Web applicati

[2019-08-22 11:32] abom commented on #805
For the second and third points of documentation depend on adding websites to threebot server, what's implemented in https://github.com/threefoldtech/digitalmeX/pull/280 is just a temporary solution, waiting for https://github.com/threefoldtech/jumpscaleX/issues/808 to be done first.

[2019-08-22 13:30] abom commented on #805
Jumpscale and digitalme: development_jumpscale_myjobs_website_example

[2019-08-22 13:31] xmonader opened #810 "stabilize builders required for threebot"
we can't deliver end2end examples for threebot without having the essential components ready and building

- [x] lua
- [x] openresty
- [x] sonic

[2019-08-22 14:16] LeeSmet commented on #799
Currently I have exactly the same behavior when trying the interactive install documentation. Fails on exactly the same step.

[2019-08-22 14:17] BolaNasr commented on #777
@muhamadazmy

# Flist Manipulation
### we using zflist binary in 0-flist repo

 to install it using kosmos
[code]

### Usage:
[code]

## create new flist:
### create new flist then put file from local then commit it
[code]

## open flist and edit on it:
### open flist , put dir from local , commit it
[code]

[2019-08-22 14:18] maxux commented on #777
Do you use the json output and the release version of zflist ?

[2019-08-22 14:23] 0xIslamTaha commented on #717
@Dina-Abd-Elrahman cover `j.data.nacl` and `j.data.encryption` methods

[2019-08-22 14:47] Dina-Abd-Elrahman commented on #800
- error is fixed now,

Commit_ID: 64af6f4989119a7d6d7f8b47a568ef2fd2c4d86e

[2019-08-22 14:47] #800 closed, assigned to waleedhammam

[2019-08-22 14:48] Dina-Abd-Elrahman commented on #801
- the error is fixed now

### Commit_ID: 64af6f4989119a7d6d7f8b47a568ef2fd2c4d86e

[2019-08-22 14:48] #801 closed, assigned to waleedhammam

[2019-08-22 15:04] BolaNasr commented on #777
@maxux  yes i fixed in builder and now use it to return json

[2019-08-22 15:34] Dina-Abd-Elrahman opened #812 "error in test method in corex builder"
- I found an error in coreX builder,  test method.

![ff](https://user-images.githubusercontent.com/21218053/63528352-10dcf280-c503-11e9-93aa-c275e0c29fa7.png)

[2019-08-22 15:36] xmonader opened #813 "update coredns client to use redis instead of etcd"
Currently the coredns client uses etcd and we are moving into redis.

[2019-08-22 16:43] serboctor commented on #799
I found some bugs in the `-s` option but they're not related to this error. I've successfully installed using `jsx install`, `jsx install-container`, and `jsx install-container -s` and I can't reproduce it at all so I am thinking it may be os-specific?

[2019-08-22 16:45] ranatrk commented on #802
Checks:
- On a new machine :
      - installed jumpscalex
      - built and installed coredns `j.builders.network.install()`
- in install() of builder coredns systemd-resolved service is stopped
https://github.com/threefoldtech/jumpscaleX/blob/development_jumpscale/Jumpscale/builders/network/BuilderCoreDns.py#L65
- redis running on '127.0.0.1:6379`

Fixes:
- removed etcd from builder, removed from

[2019-08-22 16:49] waleedhammam commented on #776
branch: development_jumpscale_generators
commit: https://github.com/threefoldtech/jumpscaleX/commit/7b45d88981c62f1b7c36698eee66fe7bfbb2fb39

changes:
- allow multi-level generation via jslocation variable in classes
- no need to manual add of builders in factories

bugs:
-  generated classes also appears in the parent group

usage:
- just add __jslocation__ to your builder, server .. etc
ex: `j.b

[2019-08-23 04:01] xmonader commented on #774
![Screenshot from 2019-08-23 06-50-21](https://user-images.githubusercontent.com/64129/63567521-51278980-c572-11e9-8b19-0720698a6063.png)
![Screenshot from 2019-08-23 06-49-58](https://user-images.githubusercontent.com/64129/63567522-51c02000-c572-11e9-819d-24ee6630f4a6.png)

Code is available here

1-  the package https://github.com/threefoldtech/digitalmeX/tree/development_jumpscale_myjobs_websi

[2019-08-23 04:24] xmonader commented on #804
Code is available here

1-  the package https://github.com/threefoldtech/digitalmeX/tree/development_jumpscale_myjobs_website_example/threebot/packages/myjobs

2- the actor https://github.com/threefoldtech/digitalmeX/blob/development_jumpscale_myjobs_website_example/threebot/packages/myjobs/actors/myjobs.py

3- the HTML application https://github.com/threefoldtech/digitalmeX/blob/development_jumps

[2019-08-29 07:58] Hamdy commented on #787
done on old code base `digitalmeX` needs to be migrated to new jumpscale

[2019-09-05 11:43] ahsayde opened #42 "sometimes not all bcdb models are loaded from the first time"
branch : development

![image](https://user-images.githubusercontent.com/24386820/64338435-0847ea00-cfe2-11e9-9e2d-fad52d27d02a.png)

[2019-09-05 12:59] #42 closed, assigned to BolaNasr

[2019-09-08 08:31] despiegk opened #55 "integrate alerta actor with JSX"
/sandbox/code/github/threefoldtech/jumpscaleX_threebot/ThreeBotPackages/alerta/actors/alerta.py

- use the error_handler trigger feature
- make trigger which puts the errors into the alerta actor db
- see that the alerta UI shows the errors
- do some dedupe (events with same source, ... shoud result in same alerta record)
    - do a counter
- make sure alerta UI has a delete function (delete all)

[2019-09-08 09:17] despiegk opened #58 "gedis support for non JSX clients"
## specs

- cmd FORMAT_CONFIGURE ($format)
    = $format = JSON or MSGPACK
- cmd IDENTIFY: gedis server sends epoch and signed epoch to client (signed with pub key of 3bot running gedis) returns; serialized_in_format([epoch,3botid, signature])
- cmd PHONEBOOK_GET(3botid) -> returns  serialized_in_format([data_serialized_in_format,data_signature]) data is the phonebook data
- this allows client to

[2019-09-08 10:42] AhmedHanafy725 opened #59 "SAL.FS: copyDirTree method with ignoring files, don't work with sub directories."
### Steps:
1- Create a directory `test_dir`.
2- Create a file `test_file` inside `test_dir`.
3- Create a sub directory `subdir` under `test_dir`.
4- Create a file `file` insdie `subdir`.
5- Copy this `test_dir` to `test_dir2` with ignoring files `["test_file", "file"]`
[code]
### Expected Result:
find `test_dir` and `subdir` only without any files.
### Actual Result:
Both files are copied.
[code]

[2019-09-08 12:47] abom opened #61 "Shell: debug logs outside logging pane"
Some debug logs still printed outside logging pane
![Screenshot from 2019-09-08 14-47-40](https://user-images.githubusercontent.com/511438/64488385-a1c40580-d247-11e9-901d-321aab9a7bbd.png)

[2019-09-09 08:21] #59 closed, assigned to waleedhammam, hossnys

[2019-09-09 09:21] despiegk opened #63 "check logging [development_logging_problem]"
we seem to have some issues on logging,
was not getting the right replace done, please
check this change and check behaviour I think there is still issue.

[2019-09-09 09:38] despiegk opened #64 "wiki test & making sure all ok"
- [x] wiki_test package in threebot repo which
    - [x] has example wiki pages to demonstrate all below in the package
    - [x] load content using myjobs
    - [x] make sure threebot properly loaded with all features
    - [x] if started with public ip address available make sure nginx/letsencrypt work
- [x] gslide macro works (get .png from a slide in gslides presentation) dynamically
- [x] new

[2019-09-09 13:36] #61 closed, assigned to abom

[2019-09-10 07:28] #63 closed, assigned to rkhamis

[2019-09-10 09:45] #646 closed

[2019-09-10 09:46] #792 closed, assigned to zgorizzo69

[2019-09-10 15:53] #701 closed

[2019-09-10 15:54] #700 closed

[2019-09-10 16:14] rkhamis commented on #768
no longer relevant

[2019-09-10 16:14] #768 closed, assigned to despiegk

[2019-09-10 16:14] #776 closed, assigned to waleedhammam

[2019-09-10 16:15] #771 closed, assigned to andrewayoub

[2019-09-10 16:24] #618 closed

[2019-09-10 16:24] #617 closed

[2019-09-15 16:10] #64 closed, assigned to andrewayoub, serboctor, waleedhammam, Pishoy

[2019-09-30 10:03] #55 closed, assigned to xmonader, abom, Pishoy

[2019-10-24 15:42] #58 closed, assigned to zgorizzo69, alichaddad

[2019-12-09 14:37] waleedhammam opened #321 "[Gedis Client] error when actor uses a schema not loaded in client side"
Gedis client and Gedis server both should have the same schemas.

StackTrace:
[code]
Loading models then trying same command
[code]

[2019-12-10 13:38] #321 closed, assigned to nobody